<p>
  <b>Code:</b>
  <%=h @single_video.code %>
</p>

<p>
  <b>Company:</b>
  <%=h @single_video.company %>
</p>


<%= link_to 'Edit', edit_single_video_path(@single_video) %> |
<%= link_to 'Back', single_videos_path %>