
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta content="text/html; charset=windows-1252"
      http-equiv="Content-Type">
  </head>
  <body bgcolor="#ffffff" text="#000000">
    <div class="gmail_quote"><br>
      <div style="padding: 0px; margin: 0px; font: 14px
        'Helvetica',sans-serif;">
        <table align="center" cellpadding="0" cellspacing="0"
          width="100%">
          <tbody>
            <tr>
              <td>
                <table style="background-color: rgb(33, 146, 208); background-image:
      url(&quot;<%=give_server_url%>images/template/bg_0.png&quot;);
      background-repeat: repeat-x; background-position: left top;
      background-attachment: scroll;" align="center" cellpadding="0"
      cellspacing="0" width="100%">
                  <tbody>
                        <td>
                            <table valign="top" style="border-left: 2px solid rgb(187,187, 187); border-right: 2px solid rgb(187, 187, 187);"
              align="center" cellpadding="0" cellspacing="0" width="800">
                                <tbody>
                                    <tr>

                                        <td cellspacing="0" cellpadding="0" align="center"
                                            bgcolor="#ffffff" width="800">
               
                                            <h1 style="padding: 25px 0px 0px; font-size: 132px;margin: 0px; color: rgb(28, 139, 33);"> 
                                            <a moz-do-not-send="true"
                                            href="http://health20.createsend1.com/t/y/l/ahjhky/pyuhuthiu/r">

                                            <img moz-do-not-send="true" src="<%=give_server_url%>images/template/corporatelogo800px_1.png"
                                            alt="Health 2.0" border="0" /></a> </h1>

                                        </td>
                                    </tr>
                                    <tr>
                                       <td cellspacing="0" cellpadding="0"
                                         align="justify" bgcolor="#ffffff" width="800"><br>
                                            <br>
                                            <%=body_message%><br>
                                            <br>
                                            <br>
                                        </td>
                                    </tr>
                            
             
            
            <tr>
              <td cellspacing="0" cellpadding="0" align="center"
                bgcolor="#ffffff" width="800">
        <p style="text-align: center;"><span style="color:
                          rgb(136, 136, 136);">

                 <br>
              </td>
            </tr>
            <tr>
              <td cellspacing="0" cellpadding="0" align="center"
                bgcolor="#ffffff" width="800">
                <div style="padding: 15px 30px 75px; font-size: 12px;
                  line-height: 150%;"> <a moz-do-not-send="true"
                    style="color: rgb(11, 93, 146); text-decoration:
                    none;"
href="http://health2con.us1.list-manage.com/track/click?u=82ee79d3a6e2d5b8f1aa8a78a&amp;id=b0f3582318&amp;e=5a52321afd"
                    target="_blank">Health 2.0 Conference</a> | 650
                  Delancey St., #221 | San Francisco, CA 94107<br>
                  <a moz-do-not-send="true" style="color: rgb(11, 93,
                    146); text-decoration: none;"
                    href="mailto:info@health2con.com" target="_blank">info@health2con.com</a>
                  | (415) 287-0740 | <a moz-do-not-send="true"
                    style="color: rgb(11, 93, 146); text-decoration:
                    none;" href="mailto:support@health2con.com"
                    target="_blank">support@health2con.com</a> </div>
                 </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

            <p style="background-color: rgb(255, 255, 255); background-image:
      none; background-repeat: repeat; background-position: left top;
      background-attachment: scroll; padding: 5px; margin: 10px; color:
      rgb(0, 0, 0); position: relative; z-index: 9999;">This email was
      sent to <a class="moz-txt-link-abbreviated" href="mailto:sgargconsulting@gmail.com">sgargconsulting@gmail.com</a>. If you are no longer interested
      you can <a moz-do-not-send="true"
        href="http://health20.createsend1.com/t/y/u/ahjhky/pyuhuthiu/"
        style="color: rgb(66, 119, 196); text-decoration: underline;
        font-weight: bold;">unsubscribe instantly</a>.</p>
    <img moz-do-not-send="true"
      src="https://createsend1.com/t/y/o/ahjhky/pyuhuthiu/o.gif"
      style="height: 1px ! important; width: 1px ! important;
      border-width: 0pt ! important; margin: 0pt ! important; padding:
      0pt ! important;" height="1" border="0" width="1">

  </body>
</html>