<table class="schedule-window">
	<tr>
		<td>
			<span class="mfs-scheduled-order"><%= schedule.total_requests %></span>
			<span class="same-building-order"><%= schedule.total_concordance %></span>
		</td>
		<td>
			<div><span class="slots-count"><%= schedule.total_slots %></span></div>
			<div class="slots-left"><%= schedule.total_concordance %></div>
		</td>
	</tr>
</table>