<p>Sincerely,</p>
<p>
<b>Customer Service</b></p>
<p>
My Fresh Shirt<br>
85 Fifth Avenue - 12th Floor<br>
New York, New York 10003<br>
(212) 625-3131<br>
customerservice@myfreshshirt.com<br>
www.myonlinecleaner.com	<br>
</p>
<a href="http://www.facebook.com/pages/My-Fresh-Shirt-NYCs-Online-Eco-friendly-Dry-Cleaning-Laundry-Serivce/199854930037790?sk=wall" target="_blank">
<img height="32" width="32" src="http://myonlinecleaner.com/images/Facebook.jpg"></a>
<a href="https://twitter.com/#!/MyFreshShirt" style="color:rgb(0,0,0)" target="_blank">
<img height="32" width="32" src="http://myonlinecleaner.com/images/Twitter.jpg"></a>
