<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
body p{
font-family: Verdana, Geneva, sans-serif;
}
-->
</style>
</head>

<body>

<% email_content do %>
<p>Thank you for addressing your concern or complaint with us. A member from the My Fresh Shirt team will contact you within 24 hours to discuss in detail how we can resolve the issue.</p>

<p>At My Fresh Shirt we take the handling of your order very seriously. Please know, the time you have taken to contact us is very much appreciated.</p>

<% end %>
<%= render :partial => 'signature' %>  
</body>

</html>
