<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
body p{
font-family: Verdana, Geneva, sans-serif;
}
-->
</style>
</head>

<body>
	<% email_content do %>
<p>My Oh My!</p>

<p>It’s seems we missed you today!</p>

<p>At your earliest convenience, please go to myonlinecleaner.com and schedule a new delivery window or you can contact one of our customer service representatives at: customerservice@myfreshshirt.com or call 1-800-MY-FRESH (1-800-693-7374)</p>
<p>Use of the My Fresh Shirt service and Web site constitutes acceptance of our Terms of Use and Privacy Policy.</p>
<% end %>
<%= render :partial => 'signature' %>  

</body>

</html>
