<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
body p{
font-family: Verdana, Geneva, sans-serif;
}
-->
</style>
</head>

<body>

	<% email_content do %>
<p>We're sorry to hear your lost your password. But, there’s no need to worry, because we’ve created a new, temporary password for you.</p>

<p>Your new password is: <%=h @new_password %></p>

<p>You can change this password to something more memorable once you log into your account.</p>
<% end %>
<%= render :partial => 'signature' %>  
</body>

</html>
