<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><style type="text/css">
body p{
font-family: Verdana, Geneva, sans-serif;
}
</style>
</head>

<body>
  <% email_content do %>
      <p>
      Dear <%= @register_invitee.name %>,</p>
	
      <p>At My Fresh Shirt, we take convenience to the extreme. With 2-hour service windows similar to Fresh Direct, cleaning your clothes has never been more convenient. Our goal is to save you valuable time and free up your mornings, evenings and weekends for more enjoyable activities! To get you started, we have placed a coupon for $25 in FREE cleaning in your account. This coupon will apply to any order over $50 and your order must be picked up by <%= (Time.now.to_date + 10).strftime("%m/%d/%Y")%>, so make sure you place an order soon. 
</p>

      <p>My Fresh Shirt customers save time while getting great cleaning service. Spend less time dealing with laundry?and more time on everything else! </p>

      <p>Place your order as soon as possible and utilize My Fresh Shirt services.</p>

      <p>If you need help, we're just a phone call or email away.  If you have any questions or need help placing your first order please feel free to contact us via email at customerservice@myfreshshirt.com or phone at 212-625-3131.</p>

      <p>Thanks from all of us at My Fresh Shirt!</p>

      <p>FASTER.PERSONAL.CLEANER</p>
  <% end %>
<%= render :partial => 'signature' %>  
</body>

</html>

