<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
body p{
font-family: Verdana, Geneva, sans-serif;
}
-->
</style>
</head>

<body>
	<% email_content do %></p>
	<p>Dear <%= @customer.first_name.capitalize %>,</p>

	<p>Thank you for your recent inquiry. A member from the My Fresh Shirt team will contact you within 24 hours.</p>

	<p>At My Fresh Shirt we are constantly looking for ways to improve our services and our customer's experience. Please know, the time you have taken to contact us is very much appreciated.</p>

	<p>We look forward to servicing your dry cleaning and laundry needs!</p>


<% end %>
<%= render :partial => 'signature' %>  
</body>

</html>
