<legend>Mailing Preference</legend>
<p>
	<label>Mailing options:</label>
	<%= check_box "user", "allow_admin_mails", { :class => 'checkbox' } %> It's ok to contact me by email and mobile. <%= check_box "user", "email_messages_allowed", { :class => 'checkbox' } %> It's ok to be contacted by other members.
</p>