<legend>Update Password</legend>
<p>
	<label for="user_password">Password:</label>
	<%= password_field "user", "password", :size => 12, :size => 14, :value => ''  %> <span class="small">Password is case sensitive. No spaces or symbols.</span>
</p>

<p>
	<label for="user_password_confirmation">&nbsp;</label>
	<%= password_field "user", "password_confirmation", :size => 12, :maxlength => 14, :value => '' %>Repeat</span>
</p>
