<% form_tag(url_for(:action => "lost_password"), { :method => 'post', :id => "lost_password_form" }) do -%>
	<h4>Lost Password</h4>
	<div style="padding:1px 5px;">
		<p class='stronger'>Enter Your Email Address:</p>
		<p><%= text_field "user", "email", :size => 20, :maxlength => 65, :tabindex=>1 %> <%= submit_tag "Email it to me", :tabindex=>2  %></p>
		<p><%= link_to "Not a member? Sign up now", { :controller=>'signup'}, :class => 'stronger' %> | <%= link_to "Login", {:action => nil} %></p>
	</div>
<% end %>
<script type="text/javascript" language="javascript">
// <![CDATA[
Event.addBehavior({
  "#lost_password_form:submit": function(event) {
    sendPassword(this); return false;
  }
});
// ]]>
</script>