<% form_tag("", { :method=>"post", :id => "reset_password_form" }) do %>
<fieldset>
  <%= render :partial => "password" %>
	  <p>
	  	<label>&nbsp;</label>
	  	<%= submit_tag "Update" %> | <a href="#" onclick="history.back(); return false;" class="faux_button">Cancel</a>
	  </p>
</fieldset>
<% end %>