<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta name="Keywords" content="dry cleaners, wash and fold, dry cleaner, dry cleaning, laundry, laundry service, laundry shop, shirt laundry, new york laundry, new york city laundry, ny laundry, dry cleaner new york, new york city dry cleaners, dry cleaning prices, dry cleaning nyc, best dry cleaners nyc, commercial laundry services, dry cleaners nyc" /><meta name="Description" content="My online cleaner is a company of principles – revolutionizing convenience, dedication to service, and commitment to quality. In addition we are committed to promoting ethical environmental & social responsibility within our culture. " /><meta name="Keyphrases" content="cleaners new york city, laundry cleaners, ny laundry service, eco friendly cleaning services, wash and fold laundry service, eco friendly cleaners, laundry delivery nyc" /><meta name="revisit-after" content="1 WEEK" /><meta name="robots" content="ALL" /><meta name="distribution" content="Global" /><meta name="company" content="MyOnLine Cleaner" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title><%= page_title %></title>
        <%= javascript_include_tag 'prototype', 'effects', 'controls', 'dragdrop', 'application', 'calendar', 'lightwindow', 'live_validation'  %>
        <%= stylesheet_link_tag :all %>
    </head>
    <% body_tag do %>
		
    <%= yield :layout %>
	    <div style="margin-left: 400px;" class="small_text">
	        <div>
	            &copy; 2012 My Fresh Shirt. All Rights Reserved
	        </div>
	    </div>
    <% end %>
</html>
