<h1>Listing options</h1>
<h3>Free</h3>
<ul>
	<li>Listing on our site and other partner sites.</li>
	<li>Your listing is active for up to 7 days, after which you have to manually renew.</li>
	<li>No access to mailing list.</li>
</ul>
<h3>Premium</h3>
<ul>
	<li class="stronger">All the features of free listing plus</li>
	<li>Placement above free listings.</li>
	<li>Book birthday, graduation, and other parties.</li>
	<li>Host online guestlist service.</li>
	<li>Build mailing list.</li>
	<li>Your listing can be active for longer than 7 days.</li>
</ul>
<div class="notice"><span class="stronger">Note for free listers:</span> You cannot post a website address or a link to a flyer in your listing. <br />Otherwise, it will be adjusted or rejected without notice.</div>