<div id="primaryContent">
    <h3>Our Philosophy</h3>
    <p>Offer the most comprehensive list of parties online.</p>
  
    <h3>Overview</h3>
    <p>
    	We, <b>FCG Media,</b> is an online marketing vehicle which purveys vital information regarding nightlife events to the casual party-goer in an effort to empower them to make an informed decision about when and where to enjoy the nightlife scene and spend their discretionary income. We serve as respected reference tool of nightclubs while providing brands access to our highly touted demographic of trendy party-goers and the nightlife industry professionals who serve them. Our daily presence on the NYC nightlife scene has allowed us to form strong working relationships with nightclub operators, party promoters and the trendsetters who attend these parties giving us the ability to identify trends in the nightlife and other complementary lifestyle industries.
    </p>

  	<h3>Advertising Services</h3>
    <p>
    	<strong>Event Photo Documentation</strong><br />
    	<strong>Call for rates</strong> - Post pictures from your event for many to see.
    </p>
  
    <p>
    	<strong>Event Listing</strong><br />
    	<strong>Call for rates</strong> - Post information about your upcoming event or party to be included on our calendar of upcoming events.
    </p>
  
    <p>
    	<strong>Flyer Marketing</strong><br />
    	<strong>Call for rates</strong> - Give your event or venue additional exposure.
    </p>
  
    <p>
    	<strong>Email Marketing</strong><br />
    	Dedicated Solo Email<br />
      <strong>Call for rates</strong> - Send a dedicated email to regarding your product, brand or event
    </p>

    <h3>Contact</h3>
    <p>
  	  <b>Mail</b>: 4 South Pinehurst Avenue Suite 4F, New York, NY 10033<br />
  	  <b>E-Mail</b>: <a href="mailto:<%= SETTING['info_email'] -%>"><%= SETTING['info_email'] -%></a><br />
  	  <b>Phone</b>: 347-558-4020<br />
  	  <b>Fax</b>: 212-202-6164
    </p>
    
    <p><img alt="Engine Yard" src="/images/hosted_at_engine_yard.gif" /></p>
</div>