<%= render :partial => '/admin/account_search' %>

<div class="view-menu">
	<span class="float-right"><b>Report of <%=Date::MONTHNAMES[@month.to_i] + " " + @year %></b></span>
        <%= render :partial => 'report_drop_down' %>
</div>
<table  cellspacing="10" style="background-color: rgb(240, 240, 240); border: 1px solid rgb(192, 192, 192);text-align:center;width:100%">
  <tr>
      <td><form method="POST">
          <lable><b>Select Date</b>&nbsp;</lable>
          <%= date_select :date , :select, {:discard_day => true, :order => [:month, :year], :default => { :month => (@month.to_i), :year => @year }} %>
          <input type="submit" name="submit" id="submit" value="Get Report">
          </form>
      </td>
  </tr>
</table>