<div>
    <%= error_messages_for :credit_card %>
    
    <% form_for :credit_card, :url => customer_credit_cards_path(@customer) do |f| %>
		<%= render :partial => 'form', :locals => { :create => true, :f => f } %>
    <% end %>
    
    <%= link_to '<< Payment Information', customer_credit_cards_path(@customer) %>
</div>