document.write('<script type="text/javascript" src="/javascripts/countries.js"></script>')
document.write('<script type="text/javascript" src="/javascripts/timezones.js"></script>')
var current_record, current_section;
var search_results = [];
var show_rec_id = 'showDetails';
var ADMIN = new Object();
ADMIN = {
	sec: ["billing_profile", "booking", "city", "comment", "confession", "cover_image", "event", "flyer", "guestlist", "image_set", "image", "item", "missed_connection", "order", "party", "region", "role", "site", "user", "venue"],
	act: {billing_profile: {list: true, create: true, show: true},
booking: {list: true, create: false, show: true},
city: {list: true, create: true, show: true},
comment: {list: true, create: false, show: true},
confession: {list: true, create: false, show: true},
cover_image: {list: true, create: true, show: true},
event: {list: true, create: false, show: true},
flyer: {list: true, create: true, show: true},
guestlist: {list: true, create: false, show: true},
image_set: {list: true, create: true, show: true},
image: {list: true, create: true, show: true},
item: {list: true, create: true, show: true},
missed_connection: {list: true, create: false, show: true},
order: {list: true, create: false, show: true},
party: {list: true, create: true, show: true},
region: {list: true, create: true, show: true},
role: {list: true, create: true, show: true},
site: {list: true, create: true, show: true},
user: {list: true, create: false, show: true},
venue: {list: true, create: true, show: true}},
	list:{billing_profile: function(p){ return ''},
booking: function(p){ return ''},
city: function(p){ return ''},
comment: function(p){ return ''},
confession: function(p){ return ''},
cover_image: function(p){ return ''},
event: function(p){ return ''},
flyer: function(p){ return ''},
guestlist: function(p){ return ''},
image_set: function(p){ return ''},
image: function(p){ return ''},
item: function(p){ return ''},
missed_connection: function(p){ return ''},
order: function(p){ return ''},
party: function(p){ return ''},
region: function(p){ return ''},
role: function(p){ return ''},
site: function(p){ return '<li id="record_' + p.id + '"> <a href="javascript:show('+ p.id +')">'+p.short_name+', '+p.full_name +'</a></li>'},
user: function(p){ return '<li id="record_' + p.id + '" ' + (p.type=='Promoter'? "class='promoter'":"") + '> <a href="javascript:show('+ p.id +')">'+p.username+', '+p.email+ (p.country=='us'? "": ', '+p.country)+'</a></li>'},
venue: function(p){ return ''}},
	def: {billing_profile:[{name: "id", type: "integer", limit: 11}, {name: "user_id", type: "integer", limit: 10}, {name: "full_name", type: "string", limit: 75}, {name: "address", type: "string", limit: 75}, {name: "city", type: "string", limit: 25}, {name: "state", type: "string", limit: 25}, {name: "country", type: "string", limit: 2}, {name: "postal_code", type: "string", limit: 10}, {name: "phone", type: "string", limit: 15}, {name: "last_4_numbers", type: "integer", limit: 4}, {name: "created_on", type: "datetime", limit: null}, {name: "billingid", type: "string", limit: 6}, {name: "position", type: "integer", limit: 1}],
booking:[{name: "id", type: "integer", limit: 11}, {name: "party_id", type: "integer", limit: 11}, {name: "user_id", type: "integer", limit: 11}, {name: "party_type", type: "integer", limit: 2}, {name: "size", type: "integer", limit: 4}, {name: "party_date", type: "date", limit: null}, {name: "contact_date", type: "datetime", limit: null}, {name: "contact_name", type: "string", limit: 45}, {name: "contact_email", type: "string", limit: 45}, {name: "contact_phone", type: "string", limit: 15}, {name: "bottle_service", type: "boolean", limit: 1}, {name: "open_bar", type: "boolean", limit: 1}, {name: "catering", type: "boolean", limit: 1}, {name: "car_service", type: "boolean", limit: 1}, {name: "budget", type: "integer", limit: 6}, {name: "notes", type: "text", limit: null}, {name: "resolved", type: "boolean", limit: 1}, {name: "resolved_on", type: "datetime", limit: null}, {name: "created_on", type: "datetime", limit: null}],
city:[{name: "id", type: "integer", limit: 11}, {name: "short_name", type: "string", limit: 3}, {name: "full_name", type: "string", limit: 25}, {name: "region_id", type: "integer", limit: 10}, {name: "active", type: "boolean", limit: 1}],
comment:[{name: "id", type: "integer", limit: 11}, {name: "title", type: "string", limit: 50}, {name: "comment", type: "string", limit: 255}, {name: "created_at", type: "datetime", limit: null}, {name: "commentable_id", type: "integer", limit: 11}, {name: "commentable_type", type: "string", limit: 15}, {name: "user_id", type: "integer", limit: 11}, {name: "parent_id", type: "integer", limit: 11}],
confession:[{name: "id", type: "integer", limit: 11}, {name: "user_id", type: "integer", limit: 10}, {name: "name", type: "string", limit: 30}, {name: "title", type: "string", limit: 45}, {name: "location", type: "string", limit: 45}, {name: "story", type: "text", limit: null}, {name: "published", type: "boolean", limit: 1}, {name: "created_on", type: "date", limit: null}],
cover_image:[{name: "id", type: "integer", limit: 11}, {name: "site_id", type: "integer", limit: 10}, {name: "image_id", type: "integer", limit: 10}, {name: "active", type: "boolean", limit: 1}, {name: "created_on", type: "datetime", limit: null}, {name: "updated_on", type: "datetime", limit: null}, {name: "city_id", type: "integer", limit: 10}],
event:[{name: "id", type: "integer", limit: 11}, {name: "party_id", type: "integer", limit: 10}, {name: "venue_id", type: "integer", limit: 10}, {name: "happens_at", type: "datetime", limit: null}, {name: "search_date", type: "date", limit: null}, {name: "comments_allowed", type: "boolean", limit: 1}, {name: "photographer_id", type: "integer", limit: 10}, {name: "hosted_by", type: "string", limit: 75}, {name: "synopsis", type: "text", limit: null}, {name: "active", type: "boolean", limit: 1}, {name: "created_on", type: "datetime", limit: null}, {name: "updated_on", type: "datetime", limit: null}, {name: "image_sets_count", type: "integer", limit: 3}, {name: "picture_uploaded", type: "boolean", limit: 1}, {name: "picture_upload_time", type: "datetime", limit: null}],
flyer:[{name: "id", type: "integer", limit: 11}, {name: "obj_type", type: "string", limit: 12}, {name: "obj_id", type: "integer", limit: 10}, {name: "image_id", type: "integer", limit: 10}, {name: "days_left", type: "integer", limit: 3}, {name: "active", type: "boolean", limit: 1}, {name: "created_on", type: "datetime", limit: null}, {name: "updated_on", type: "datetime", limit: null}],
guestlist:[{name: "id", type: "integer", limit: 11}, {name: "event_id", type: "integer", limit: 10}, {name: "user_id", type: "integer", limit: 10}, {name: "full_name", type: "string", limit: 45}, {name: "number_of_guests", type: "integer", limit: 3}, {name: "created_on", type: "datetime", limit: null}],
image_set:[{name: "id", type: "integer", limit: 11}, {name: "obj_type", type: "string", limit: 12}, {name: "obj_id", type: "integer", limit: 10}, {name: "image_id", type: "integer", limit: 10}, {name: "position", type: "integer", limit: 3}, {name: "comments_allowed", type: "boolean", limit: 1}, {name: "created_on", type: "datetime", limit: null}, {name: "updated_on", type: "datetime", limit: null}],
image:[{name: "id", type: "integer", limit: 11}, {name: "user_id", type: "integer", limit: 10}, {name: "server", type: "string", limit: 25}, {name: "path", type: "string", limit: 128}, {name: "name", type: "string", limit: 24}, {name: "width", type: "integer", limit: 4}, {name: "height", type: "integer", limit: 4}, {name: "size", type: "integer", limit: 10}, {name: "extension", type: "string", limit: 12}, {name: "caption", type: "string", limit: 75}, {name: "comments_allowed", type: "boolean", limit: 1}, {name: "created_on", type: "datetime", limit: null}, {name: "updated_on", type: "datetime", limit: null}, {name: "parent_id", type: "integer", limit: 11}, {name: "url", type: "string", limit: 128}],
item:[{name: "id", type: "integer", limit: 11}, {name: "name", type: "string", limit: 30}, {name: "description", type: "text", limit: null}, {name: "price_in_cents", type: "integer", limit: 11}, {name: "active", type: "boolean", limit: 1}, {name: "created_on", type: "datetime", limit: null}, {name: "type", type: "string", limit: 12}, {name: "event_id", type: "integer", limit: 10}],
missed_connection:[{name: "id", type: "integer", limit: 11}, {name: "user_id", type: "integer", limit: 8}, {name: "party_id", type: "integer", limit: 9}, {name: "venue_id", type: "integer", limit: 9}, {name: "location", type: "string", limit: 45}, {name: "title", type: "string", limit: 45}, {name: "connection_type", type: "string", limit: 2}, {name: "connection_date", type: "date", limit: null}, {name: "published", type: "boolean", limit: 1}, {name: "story", type: "text", limit: null}, {name: "created_on", type: "datetime", limit: null}],
order:[{name: "id", type: "integer", limit: 11}, {name: "user_id", type: "integer", limit: 10}, {name: "full_name", type: "string", limit: 45}, {name: "address", type: "string", limit: 45}, {name: "city", type: "string", limit: 25}, {name: "state", type: "string", limit: 25}, {name: "postal_code", type: "string", limit: 10}, {name: "country", type: "string", limit: 2}, {name: "phone", type: "string", limit: 15}, {name: "total", type: "integer", limit: 7}, {name: "cc_type", type: "string", limit: 4}, {name: "cc_last4", type: "string", limit: 4}, {name: "ip_address", type: "string", limit: 16}, {name: "response", type: "string", limit: 12}, {name: "created_on", type: "datetime", limit: null}, {name: "updated_on", type: "datetime", limit: null}, {name: "type", type: "string", limit: 12}, {name: "billingid", type: "string", limit: 6}, {name: "transid", type: "string", limit: 14}, {name: "currency", type: "string", limit: 3}, {name: "taxes", type: "integer", limit: 5}],
party:[{name: "id", type: "integer", limit: 11}, {name: "city_id", type: "integer", limit: 10}, {name: "user_id", type: "integer", limit: 10}, {name: "venue_id", type: "integer", limit: 10}, {name: "current_event_id", type: "integer", limit: 10}, {name: "last_event_id", type: "integer", limit: 10}, {name: "title", type: "string", limit: 50}, {name: "hosted_by", type: "string", limit: 50}, {name: "end_date", type: "datetime", limit: null}, {name: "length_in_hours", type: "float", limit: null}, {name: "dress_code", type: "integer", limit: 1}, {name: "age_male", type: "integer", limit: 1}, {name: "age_female", type: "integer", limit: 1}, {name: "door_charge", type: "float", limit: null}, {name: "guestlist_charge", type: "float", limit: null}, {name: "dj", type: "string", limit: 45}, {name: "music", type: "string", limit: 125}, {name: "description", type: "text", limit: null}, {name: "wotm", type: "integer", limit: 1}, {name: "tf", type: "integer", limit: 1}, {name: "timeframecount", type: "integer", limit: 1}, {name: "recur", type: "string", limit: 12}, {name: "dotw", type: "integer", limit: 1}, {name: "pics_left", type: "integer", limit: 3}, {name: "days_paid", type: "integer", limit: 4}, {name: "females_free_until", type: "string", limit: 8}, {name: "males_free_until", type: "string", limit: 8}, {name: "females_reduced_until", type: "string", limit: 8}, {name: "males_reduced_until", type: "string", limit: 8}, {name: "photographer", type: "string", limit: 65}, {name: "sponsored", type: "boolean", limit: 1}, {name: "sponsored_ad_id", type: "string", limit: 25}, {name: "comments_allowed", type: "boolean", limit: 1}, {name: "premium", type: "boolean", limit: 1}, {name: "active", type: "boolean", limit: 1}, {name: "created_on", type: "datetime", limit: null}, {name: "updated_on", type: "datetime", limit: null}, {name: "days_free", type: "integer", limit: 3}, {name: "last_time_cron", type: "datetime", limit: null}],
region:[{name: "id", type: "integer", limit: 11}, {name: "full_name", type: "string", limit: 25}, {name: "active", type: "boolean", limit: 1}, {name: "short_name", type: "string", limit: 3}],
role:[{name: "id", type: "integer", limit: 11}, {name: "name", type: "string", limit: 25}, {name: "active", type: "boolean", limit: 1}],
site:[{name: "id", type: "integer", limit: 11}, {name: "short_name", type: "string", limit: 3}, {name: "full_name", type: "string", limit: 25}, {name: "comments_allowed", type: "boolean", limit: 1}, {name: "url", type: "string", limit: 128}, {name: "active", type: "boolean", limit: 1}],
user:[{name: "id", type: "integer", limit: 11}, {name: "username", type: "string", limit: 75}, {name: "email", type: "string", limit: 65}, {name: "site_id", type: "integer", limit: 5}, {name: "full_name", type: "string", limit: 75}, {name: "company_name", type: "string", limit: 75}, {name: "sex", type: "string", limit: 1}, {name: "mobile", type: "string", limit: 15}, {name: "postal_code", type: "string", limit: 9}, {name: "country", type: "string", limit: 2}, {name: "ip_address", type: "string", limit: 16}, {name: "password_hash", type: "string", limit: 32}, {name: "password_salt", type: "string", limit: 5}, {name: "member_login_key", type: "string", limit: 32}, {name: "location", type: "string", limit: 45}, {name: "time_zone", type: "string", limit: 45}, {name: "allow_admin_mails", type: "boolean", limit: 1}, {name: "email_messages_allowed", type: "boolean", limit: 1}, {name: "deleted", type: "boolean", limit: 1}, {name: "created_on", type: "datetime", limit: null}, {name: "updated_on", type: "datetime", limit: null}, {name: "image_flag", type: "boolean", limit: 1}, {name: "image_id", type: "integer", limit: 10}, {name: "relationship_status", type: "string", limit: 22}, {name: "your_desc", type: "text", limit: null}, {name: "match_desc", type: "text", limit: null}],
venue:[{name: "id", type: "integer", limit: 11}, {name: "name", type: "string", limit: 45}, {name: "user_id", type: "integer", limit: 10}, {name: "postal_code", type: "string", limit: 12}, {name: "address", type: "string", limit: 75}, {name: "cross_street", type: "string", limit: 45}, {name: "city", type: "string", limit: 45}, {name: "state", type: "string", limit: 45}, {name: "country", type: "string", limit: 2}, {name: "phone", type: "string", limit: 15}, {name: "time_zone", type: "string", limit: 45}, {name: "active", type: "boolean", limit: 1}, {name: "created_on", type: "datetime", limit: null}, {name: "updated_on", type: "datetime", limit: null}]},
	rel: {billing_profile: { has_many: [], belongs_to: ["user"], has_and_belongs_to_many: [] },booking: { has_many: [], belongs_to: ["party", "user"], has_and_belongs_to_many: [] },city: { has_many: ["party", "coverimage"], belongs_to: ["region"], has_and_belongs_to_many: [] },comment: { has_many: ["flag", "comment", "vote"], belongs_to: ["comment", "commentable", "user"], has_and_belongs_to_many: [] },confession: { has_many: [], belongs_to: ["user"], has_and_belongs_to_many: [] },cover_image: { has_many: [], belongs_to: ["city", "image", "site"], has_and_belongs_to_many: [] },event: { has_many: ["guestlist", "imageset"], belongs_to: ["user", "party", "venue"], has_and_belongs_to_many: [] },flyer: { has_many: [], belongs_to: ["image", "obj"], has_and_belongs_to_many: [] },guestlist: { has_many: [], belongs_to: ["user", "event"], has_and_belongs_to_many: [] },image_set: { has_many: ["comment", "rating"], belongs_to: ["image", "obj"], has_and_belongs_to_many: [] },image: { has_many: ["tag", "flag", "tagging", "image", "rating", "vote"], belongs_to: ["image", "user", "imageset"], has_and_belongs_to_many: [] },item: { has_many: [], belongs_to: [], has_and_belongs_to_many: ["order"] },missed_connection: { has_many: [], belongs_to: ["party", "user", "venue"], has_and_belongs_to_many: [] },order: { has_many: [], belongs_to: ["user"], has_and_belongs_to_many: ["item"] },party: { has_many: ["fave", "tag", "booking", "comment", "tagging", "imageset", "rating", "vote", "event"], belongs_to: ["city", "user", "venue"], has_and_belongs_to_many: ["site"] },region: { has_many: ["party", "city"], belongs_to: [], has_and_belongs_to_many: ["site"] },role: { has_many: [], belongs_to: [], has_and_belongs_to_many: ["user"] },site: { has_many: [], belongs_to: [], has_and_belongs_to_many: ["party", "region"] },user: { has_many: ["missedconnection", "friends", "tag", "party", "order", "fave", "turnon", "msg", "billingprofile", "relationshiptype", "comment", "guestlist", "tagging", "friend", "confession", "imageset", "interest", "friends", "event", "turnoff"], belongs_to: [], has_and_belongs_to_many: ["role"] },venue: { has_many: ["missedconnection", "party", "fave", "tag", "picture", "comment", "tagging", "rating", "vote", "event"], belongs_to: ["user"], has_and_belongs_to_many: [] }},
	
	show: {user: 'username', 
confession: 'name', 
city: 'full_name', 
region: 'name', 
profile: 'full_name', 
service: 'business_name', 
order: 'total', 
role: 'name', 
guestlist: 'full_name', 
event: 'hosted_by', 
billing_profile: 'full_name', 
missed_connection: 'title', 
site: 'full_name', 
booking: 'contact_name', 
venue: 'name', 
item: 'name', 
image_set: 'obj_type', 
image: 'name', 
comment: 'title', 
party: 'title'},
	readonly_columns: ["id", "created_on", "updated_on", "member_login_key", "ip_address", "password_salt", "password_hash", "obj_name", "type"]};