<%= render :partial => 'sidebar' %>
<td valign="top" width="725" style="padding-right: 15px;">
    <br>
    <a href="/my_environment"><img src="/images/ABOUTUS-LIFE.gif" alt="" height="90" width="591">
        <br>
        <br>
    </a>
    <div class="subtitle" align="justify">
        IMAGINE WHAT YOU COULD DO WITH THAT TIME!
    </div>
<br/>
    <div class="main_copy_font" align="justify">
        We were in your shoes, tired of rushing after work to pick up our dry cleaning or spending a couple of hours over the weekend in a laundromat. That’s why we started My Fresh Shirt, to revolutionize the way you do your dry cleaning and laundry. So cross dry cleaning and laundry off your to-do list. Spend precious free time with your family or friends and enjoy life!
    </div>
    <br>
    <div class="subtitleGreen" align="justify">
        PRINCIPLES
    </div>
    <div class="main_copy_font" align="justify">
        My Fresh Shirt is a company of principles – revolutionizing convenience, dedication to service, and commitment to quality. In addition we are committed to promoting ethical environmental &amp; social responsibility within our culture.
    </div>
    <br>
    <div class="subtitleGreen" style="" align="justify">
        CONVENIENCE
    </div>
    <div class="main_copy_font" align="justify">
We realize that you barely have time to do the things you enjoy. So we work around your schedule. With our 2 hour service windows, you can arrange for pick up and delivery of your laundry when you need it. Think you might be away during your pick up or delivery time, simply reschedule it. If you live in a doorman building then you can take advantage of our doorman service.  Either way, let us know what’s going on and we’ll work around your schedule.
	</div>
    <br>
    <div class="subtitleGreen" style="" align="justify">
        SERVICE
    </div>
    <div class="main_copy_font" align="justify">
        We care about you and your clothes, so come join the My Fresh Family. We will strive to make every part of your experience as simple and pleasant as possible. If ever you feel inconvenienced as a result of our service, we will take every possible measure to ensure a prompt and courteous resolution. 
    </div>
    <br>
    <div class="subtitleGreen" style="" align="justify">
        QUALITY
    </div>
    <span class="main_copy_font"></span>
    <div class="main_copy_font" align="justify">
        The dry cleaning industry is faced with new challenges every year. We have made it our priority to directly address those issues. Just because we don’t take your time, doesn’t mean we don’t take our time to do things right the first time. At every step in the cleaning process, our experienced professionals treat each item with the attention and care it deserves.
    </div>
	<br>
    <div class="subtitleGreen" style="" align="justify">
        COMMITMENT
    </div>
    <span class="main_copy_font"></span>
    <div class="main_copy_font" align="justify">
        We have made the commitment to take an active role in addressing today’s growing concerns over global climate change and the lack of clean, fresh water in developing nations. In addition, we take ownership of the community we serve by collecting old clothing and help to allocate them to those who need it most. We are going beyond carbon neutral, and we answer to the triple bottom line - profitability, sustainability, and accountability. 
    </div>
    <br>
    <div class="subtitle" style="" align="justify">
        LEARN MORE
    </div>
    <div class="secondary_copy" style="font-size: 9px;" align="justify">
        <a href="/ordering_process" style="font-weight: normal;">The Ordering Process</a>
        <br>
        <a href="/pickup" style="font-weight: normal;">Pick Up &amp; Delivery</a>
        <br>
        <a href="/our_cleaning" style="font-weight: normal;">Our Cleaning Services</a>
        <br>
        <a href="/my_environment" style="font-weight: normal;">My Fresh Environment</a>
    </div>
    <span class="main_copy_font"><a href="/my_environment"></a></span>
    <a href="/my_environment">
        <br>
        <br>
        <br>
    </a>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
