<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<!-- Created from PDF via Acrobat SaveAsXML -->
<!-- Mapping table version: 28-February-2003 -->
<HTML>
<HEAD>
<META
 name="dc.creator"
 content="Matt Fong" >
<META
 name="dc.title"
 content="Welcome to FreshDirect" >
<META
 name="dc.date"
 content="2009-07-20T18:26:14-04:00" >
<META
 name="dc.date.modified"
 content="2009-07-20T18:26:18-04:00" >
<META
 name="generator"
 content="Adobe Acrobat Exchange-Pro 8.259" >
</HEAD>
<BODY bgcolor=white text=black link=blue vlink=purple alink=fushia >
<DIV class="Sect" 

><P 
 align="justify"
><FONT size="+1" color="#000000"></B>Welcome to My Fresh Shirt. BEFORE YOU USE THIS WEBSITE (&ldquo;SITE&rdquo;) PLEASE READ THE FOLLOWING TERMS OF USE AND DISCLAIMER CAREFULLY. This Agreement (the &quot;Agreement&quot;) is an agreement between you and My Fresh Shirt, LLC d/b/a My Fresh Shirt (&quot;My Fresh Shirt&quot;) that states the terms and conditions under which you may use the site and receive My Fresh Shirt services (the &quot;services&quot;). </P
><P 
 align="justify"
>Your use of the services and the site constitutes your agreement to the terms and conditions set forth below. The site or the services should not be used if you do not agree with all of the terms and conditions set forth herein. </P
><P 
 align="justify"
>If you have any questions about this Agreement or the site, please access our Customer Agreement Frequently Asked Questions in the &quot;Help&quot; section of the site or email our Customer Service team at <A href="mailto:customercare@myfreshshirt.com">
<U>customerservice@myfreshshirt.com</U></A> . 
<B> </P
><P 
 align="justify"
>My Fresh Shirt Satisfaction Policy</B> </P
><P 
 align="justify"
>We make every effort to ensure our customers are 100% satisfied with their My Fresh Shirt service. If for any reason you are not satisfied with your My Fresh Shirt experience, we encourage you to contact us via e-mail at <A href="mailto:customercare@myfreshshirt.com">
<U>customerservice@myfreshshirt.com</U></A> 
and one of our representatives will make sure that any issues or concerns are resolved to the best of our abilities. For general inquiries regarding My Fresh Shirt&rsquo;s services offered, please refer to our Information FAQs found at <A href="http://www.myonlinecleaner.com/">
<U>www.myonlinecleaner.com</U></A>
. </P
><P 
 align="justify"
> <B>My Fresh Shirt service</B><I> </I></P
><P 
 align="justify"
><I>Ordering through My Fresh Shirt&rsquo;s site</I>. The first time you place an order, you will set up a log-in ID, fill out a set of cleaning preferences, provide contact information and select a payment method. Next, you will select a desired My Fresh Shirt service, and then be directed to the pick-up and delivery schedule, where you will select the desired day and time of service. The maximum allowable time between scheduled pick-up and delivery windows may vary depending on your service area. Your order can be placed at any time, so long as the desired pick-up or delivery time window is not at capacity. Any modifications to an existing order can be made, so long as it&rsquo;s not less than 1 day prior to your scheduled service. You will only be billed once your garments have been cleaned and delivered. </P
><P 
 align="justify"
><I>Pick Up of Items</I>. [My Fresh Shirt uses trucks marked with the My Fresh Shirt logo for easy identification.] Your items will be picked up during the requested pick up service window and will be brought back to our sorting facility later that day. Once the items are sorted, an itemized invoice will be emailed to you, detailing the different services and costs for that particular transaction. If a garment requires additional care outside of the normal cleaning process, an email will be sent to you detailing those services and associated costs, [for your approval]. After your first transaction, you will receive a set of My Fresh Shirt laundry bags which you will need to use when scheduling future pick-ups. A nominal bag deposit may be required for the re-usable laundry bags that My Fresh Shirt will provide you Should you decide to no longer use My Fresh Shirt’s service, you will be credited the bag deposit when you return your My Fresh Shirt laundry and/or garment bags. </P
><P 
 align="justify"
><I>Our Cleaning Process</I>. We are committed to providing you with the most convenient, highest quality, and most environmentally friendly service. Our quality control process includes reviewing garments for additional spotting and touching up, and inspecting for missing buttons and loose seams and pant cuffs. Under some circumstances, My Fresh Shirt may replace buttons and repair certain garments free of charge, provided that you elect us to do so. For this option, please refer to the preferences section under your profile. </P
><P 
 align="justify"
><I>Delivery of Items</I>. To receive delivery, you or your doorman must be present to receive your order from our driver during your requested delivery window. Anyone at the delivery address who receives the delivery is conclusively presumed to be authorized to receive the delivery. If you or your doorman are not present during your selected delivery window, we will attempt to contact you and reschedule delivery for a more convenient time. If we are unable to redeliver the order to you for any reason, the order will be returned to our warehouse and you will need to designate a new delivery window, whereupon additional service charges may apply. My Fresh Shirt will not be responsible for any items left in our possession after thirty (30) days. </P
><P 
 align="justify"
>We exercise the utmost care in processing all articles entrusted to us and use such processes which, in our opinion, are best suited to the nature and condition of each individual article. Unfortunately, we cannot assume responsibility for inherent weaknesses of or defects in materials that are not readily apparent prior to processing. This applies particularly, but not exclusively, to suedes, leathers, silks, satins, double-faced fabrics, vinyls, polyurethanes, etc. Responsibility also is disclaimed for trimmings, buckles, beads, buttons, bells and sequins. </P
><P 
 align="justify"
>In laundering we cannot guarantee against color loss and shrinkage or against damage to weak and tender fabrics. Problems or concerns with regard to any damaged article must be reported to My Fresh Shirt within 48 hours of receiving the article in question. </P
><P 
 align="justify"
><I>Refunds:</I> My Fresh Shirt&rsquo;s refund and/or liability for a lost or damaged article[s] shall be limited to, at My Fresh Shirt&rsquo;s election, repairing or replacing any lost/damaged article[s] at a cost not to exceed 10 times the charge for processing such article and/or providing you with a refund for the cost of services. If the order in question was a Premium order, My Fresh Shirt&rsquo;s liability with respect to any lost or damaged article[s] shall not exceed 30 times our charge for processing such article [unless stated otherwise]. My Fresh Shirt&rsquo;s liability for lost or damaged Wash and Fold orders [both Standard and Premium processing types] shall be limited to, at My Fresh Shirt&rsquo;s election, replacing lost/damaged article[s] at a cost not to exceed 10 times the charge for processing said order.  In the case of a damaged article[s] My Fresh Shirt may require the return of the item in question for inspection in order to determine the cause of damage prior to performing additional services, issuing a reimbursement, or issuing a credit.  </P
><P 
 align="justify"
>In an effort to meet the committed delivery times for our customers, our delivery personnel may not be able to wait for an inspection of the items delivered. Upon delivery of your order, you will receive an email containing an itemization of the items you received and were billed for. If something is missing from your order, please contact one of our customer service representatives by sending us an email at <A href="mailto:customercare@myfreshshirt.com">
<U>customerservice@myfreshshirt.com</U></A>
 . Any discrepancies concerning your order must be reported within 48 hours upon receipt of your order. Unless you itemized the order in question and My Fresh Shirt reconciled and agreed to said itemization, our count must be accepted. My Fresh Shirt&rsquo;s liability with respect to any lost article shall not exceed 10 times our charge for processing it. If the order in question was a Premium order, My Fresh Shirt&rsquo;s liability with respect to any lost article shall not exceed 30 times our charge for processing it [unless stated otherwise]. </P
><P 
 align="justify"
>If you contest any of the aforementioned, your sole and exclusive remedy hereunder shall be for you to discontinue your use of the My Fresh Shirt service and to terminate this agreement. Because some states or jurisdictions do not allow the exclusion or limitation of liability for consequential, incidental, or special damages or of implied warranties, in such states and jurisdictions liability is limited to the greatest extent permitted by law. </P
><P 
 align="justify"
>In the case of inclement weather, or unforeseen delivery complications, it may be necessary to make adjustments to our delivery schedule. Such adjustments may lead us to suspend chosen delivery dates and times. If there are significant delays, a customer service representative will make a best effort to notify you of the status of your delivery time. We will deliver your order as soon as the conditions permit. If your designated delivery location (i.e., street, avenue, etc.) is inaccessible, rendering us unable to make the delivery, we will contact you to determine the best alternate location. </P
><P 
 align="justify"
>In the interest of safety, we do not deliver to walk-ups (a building without an elevator) above the 5th floor. In the event of a broken elevator, we also do not ask our drivers to carry deliveries more than 5 floors. Our technology cannot, and does not, enforce these limits. We ask our customers to abide by these service limitations, as we may limit deliveries when orders exceed these requirements. Again, this limitation exists only to protect the health of our delivery staff. We appreciate your understanding and cooperation. </P
><P 
 align="justify"
>Customers are under no obligation to tip our delivery team. My Fresh Shirt team members are not allowed to solicit or accept tips. </P
><P 
 align="justify"
><I>Credit Card Payment.</I> Your credit/debit card will be charged for your order upon delivery of your clothes. My Fresh Shirt will not process orders that use an incorrect, expired, or over-the-limit credit card. We will make our best efforts to contact you if this occurs. However, in the event such an order is processed, My Fresh Shirt reserves the right to collect funds for any uncollected transactions owed to it. My Fresh Shirt may charge a nominal processing fee of [$25 per order – if payment hasn&rsquo;t been paid within 30 days] should your payment be declined resulting in the need for alternate payment or exception processing. If you fail to pay any fees or charges when due (which would include a rejected electronic payment) or if a redelivery fee is imposed, My Fresh Shirt may charge such amount directly to the credit card identified in your Customer Account Information and My Fresh Shirt may suspend or terminate your access to the My Fresh Shirt service. You shall be responsible and liable for any fees, including attorneys&rsquo; fees and all associated collection costs, that My Fresh Shirt may incur in its efforts to collect any unpaid balances from you. Your right to use the My Fresh Shirt service is subject to limits established by My Fresh Shirt. </P
><P 
 align="justify"
><I>Price and Quality of service.</I> At My Fresh Shirt we believe in offering our customers high quality and convenient service at competitive prices. Although our goal is to provide you with prompt, reliable service, we may be prevented from performing our services for reasons that are beyond our control. In such cases, we will contact you as soon possible with notice of any expected delay. </P
><P 
 align="justify"
><B> </P
><P 
 align="justify"
>Third-Party Providers</B><I> </I></P
><P 
 align="justify"
><I>Third-Party Information Providers and Merchants</I>. In the future, My Fresh Shirt may permit you to order and receive products, information, and services from businesses that are not owned or operated by My Fresh Shirt. In such instances, My Fresh Shirt acts only as the link between you and such businesses. The purchase, payment, warranty, guarantee, delivery, maintenance, and all other matters concerning the merchandise, services, or information ordered or received from such businesses are covered by their customer agreement and policies and solely between you and such businesses. My Fresh Shirt makes no representations or warranties of any kind, express or implied, regarding the merchandise, services, or information received from such third parties and the fact that My Fresh Shirt makes such products, information, and services available to you should not be construed as an endorsement of the businesses or the products, services, and information they provide.   </P
><P 
 align="justify"
> <B>Intellectual Property</B>  </P
><P 
 align="justify"
><I>Copyright.</I> All content included on this site, including text, graphics, logos, designs, photographs, button icons, images, audio/video clips, digital downloads, data compilations, and software, is the property of My Fresh Shirt, or its suppliers and is protected by United States and international copyright laws or other intellectual property laws and treaties. The compilation of all content on this site is the exclusive property of My Fresh Shirt and protected by U.S. and international copyright laws. Content shall not be reproduced or used without express written permission from My Fresh Shirt, or its suppliers. You agree not to decompile, reverse engineer or disassemble any software, not to insert any code or product or manipulate the content of the site in any way that affects the user's experience, and not use any data mining, data gathering or extraction method. Consent is granted to view, electronically copy, and print in hard copy portions of this site for the sole purpose of placing an order with My Fresh Shirt. You acknowledge that My Fresh Shirt and/or third-party content providers remain the owners of such material and that you do not acquire any of those ownership rights by downloading copyrighted material. My Fresh Shirt reserves the right to revoke this authorization at any time, and any use shall be discontinued immediately on written notice from My Fresh Shirt. </P
><P 
 align="justify"
><I>Trademarks.</I> &quot;My Fresh Shirt,&quot; all My Fresh Shirt logos, and all titles, characters, names, graphics, and button icons are service marks, trademarks, and/or trade dress of My Fresh Shirt or otherwise proprietary to My Fresh Shirt and may not be used by you for any reason other than as expressly permitted by this Agreement. All other trademarks, service marks, product names, and company names or logos appearing in the My Fresh Shirt service and on the site are the property of their respective owners and you do not acquire any ownership rights in such marks, logos, or names by using this site or the My Fresh Shirt service.</P
><P 
 align="justify"
><B> </P
><P 
 align="justify"
>Electronic Communications </P
><P 
 align="justify"
></B>By using the site and our services, you consent to receiving electronic communications from My Fresh Shirt. These communications will include notices about your account (e.g., receiving e-mails and other transactional information) and information concerning or related to our service, such as invoices, special services, delivery information or other offerings.  </P
><P 
 align="justify"
><B> </P
><P 
 align="justify"
>Customer service </B>  </P
><P 
 align="justify"
>If you need assistance with your account, or have any questions regarding our services, you can reach us anytime by sending us an email to <A href="mailto:customerservice@myfreshshirt.com">
<U>customerservice@myfreshshirt.com</U></A> 
. You will find general My Fresh Shirt information, and answers to many frequently asked questions under our INFO FAQS section, which can be found on the myfreshshirt.com home page. </P
><P 
 align="justify"
><B> </P
><P 
 align="justify"
>Access to My Fresh Shirt service</B> <I> </I></P
><P 
 align="justify"
><I>Access.</I> You will provide all equipment and services and be responsible for all telephone and other charges necessary to access the My Fresh Shirt service and the site. You should contact your local telephone company if you have a question about whether an access number is a long-distance or toll call from your location. You agree to comply with all laws applicable to your activities on the My Fresh Shirt site and with the terms of this Agreement. You hereby represent that you are an adult (18 years or older) and have the power and authority to enter into this Agreement and perform your obligations hereunder. </P
><P 
 align="justify"
>You acknowledge that from time to time the My Fresh Shirt service or this site may be inaccessible or inoperable for any reason, including, and without limitation to: (i) equipment malfunctions; (ii) periodic maintenance procedures or repairs which My Fresh Shirt may undertake from time to time; or (iii) causes beyond the control of My Fresh Shirt or which are not reasonably foreseeable by My Fresh Shirt. </P
><P 
 align="justify"
><I>ID Number and Passwords.</I> Access to the My Fresh Shirt service is accomplished through the use of a user name and a password that will be issued to you upon registration. You are solely responsible for any authorized or unauthorized access to your account by any person. You agree to bear all responsibility for the confidentiality of your password and all use or charges incurred from use of all of My Fresh Shirt&rsquo;s services with your password. You agree to notify My Fresh Shirt promptly of any unauthorized use of your password and you will remain liable for any use of My Fresh Shirt&rsquo;s services until you notify My Fresh Shirt of the unauthorized use of your password. <I>Your Account.</I> You are responsible for, and agree to pay promptly, all charges to your account, including applicable taxes and purchases by you or anyone you allow to use your account and password to access the My Fresh Shirt service. You agree and accept responsibility for keeping all of your account information current, including address, payment information, telephone number, and e-mail address. You can update your information in the My Account Info area on our site. You agree that you will not provide fraudulent information and that you are solely responsible for any information you provide to My Fresh Shirt, and accept responsibility for all activities that occur under your account or password and for restricting access to your computer. You will comply with all laws applicable to your activities on the site and with this Agreement. </P
><P 
 align="justify"
><I>Corrections.</I> If you would like to update or correct information previously provided to us, please update your account information by going to My Account Info on the My Fresh Shirt site. </P
><P 
 align="justify"
><I>Privacy Policy</I>. </P
><P 
 align="justify"
> <B>1. What Information We Gather</B></P
><P 
 align="justify"
>Traffic Data Collected </P
><P 
 align="justify"
>We automatically track and collect the following information when you visit our Site: (i) your IP address; (ii) the type of computer you are using; and (iii) the type of Web browser you are using (collectively &quot;Traffic Data&quot;). Traffic Data is helpful for marketing purposes and for improving your experience on the Site. </P
><P 
 align="justify"
>Personal Information </P
><P 
 align="justify"
>In order for you to access this Site, you must enter your zip code. In order for you to purchase products or use services that we offer via the Site, we require you to provide us with information that personally identifies you. We receive and store any information you enter anywhere on the Company&rsquo;s Site. For example, we may ask you to complete a registration form that asks for contact information (such as name, address, telephone number, and e-mail address) or an order form that asks for financial information (like credit card number, expiration date, and billing address). Additionally, when you order from the Site we may collect certain consumer information (such as products ordered and relevant promotion codes) and delivery information (such as an alternate contact, address, and telephone number in the event you are not available to accept delivery). This information is collectively referred to as &quot;Personal Information.&quot; If you communicate with us by e-mail, or otherwise complete online forms, surveys, or contest entries, any information provided in such communication may be collected as Personal Information. You may choose not to provide us with certain Personal Information. In such an event, you can still access and view much of the Site; however, you may not be able to order any products. In addition, you can choose not to provide certain optional information, but then you might not be able to take full advantage of many of the features on the Company&rsquo;s Site. </P
><P 
 align="justify"
><B>2. How We Use the Information We Gather </B></P
><P 
 align="justify"
>We use your Personal Information for such purposes as responding to your requests, processing and filling customer orders, verifying your qualifications for certain products and services, billing, improving our services, providing an enhanced and more personalized shopping experience, communicating with you, and informing you of special offers and discounts. From time to time, we may also use your Personal Information to send you free samples of new products or product brands different from those you usually order. We may provide your Personal Information to third parties to the extent necessary or desirable to fill your order or complete your transaction. For example, we may use a third party supplier for certain goods, an outside shipping company to ship orders, and we do as a matter of course use a credit card processing company to bill users for goods and services. We may also share your Personal Information as described in section 5 below. Except as provided above, and in section 5 below, we will not release your Personal Information to a third party unless you have granted us permission to do so. </P
><P 
 align="justify"
><B>3. How We Use &quot;Cookies&quot;</B></P
><P 
 align="justify"
>A &quot;cookie&quot; is a piece of data stored on your hard drive containing information about you. My Fresh Shirt uses cookies to identify you as a previous visitor and to allow our systems to remember your shopping cart, and other shopping information, as you browse our site. By allowing our systems to set a cookie on your computer, you will not have to log in a password more than once per visit, thereby saving you time while on our Site. Cookies can also enable us to learn your interests and enhance your experience on our Site. For example, we use cookies to let us know that you are a prior customer and to allow our systems to recall information on your product selections as you shop on our Site. We do not store any Personal Information (except your e-mail address) or financial information about you using cookies. Most Web browsers automatically accept cookies, but allow you to instruct your browser to prevent the use of cookies. If you disable this feature, you may still use our Site, but certain aspects of the shopping experience with My Fresh Shirt may be impacted. </P
><P 
 align="justify"
><B>4. Log Files </B></P
><P 
 align="justify"
>We use IP addresses to analyze trends, administer the Site, track users&rsquo; movements, and gather broad demographic information for anonymous and aggregate use. </P
><P 
 align="justify"
><B>5. Sharing of Personal Information </B></P
><P 
 align="justify"
>In addition to Section 2 above, we share demographic information with our partners and advertisers on an anonymous and aggregate basis. This type of data is not readily linked to any personally identifiable information. </P
><P 
 align="justify"
>We work closely with third parties to bring you our services. We share information when another company is involved in the transaction so that company can perform its functions. </P
><P 
 align="justify"
><B>6. Requesting Information from Potential and Registered Customers </B></P
><P 
 align="justify"
>Our Site provides (in areas accessible to nonregistered users) an order form for potential customers to request information about our products and services. We may direct additional communications, including e-mail, to registered customers and these potential customers that we deem may be of interest to them. Additionally, at times, we may request customer feedback about our products, our services, or your past experiences, which may be displayed on our Site and in other marketing materials. Participation in these programs is optional, and by participating you grant us a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, adapt, publish, translate, distribute, and display all or parts of your feedback and you grant us permission to use your full name or your first name, last initial, and neighborhood, as determined by My Fresh Shirt, in connection with your feedback. To be removed from future My Fresh Shirt e-mail campaigns (&quot;opt out&quot; request) you can simply access and update your information in the &quot;My Preferences&quot; area on our Site, or notify us at <A href="mailto:customerservice@myfreshshirt.com">
<U>customerservice@myfreshshirt.com</U></A>
.</P
><P 
 align="justify"
><B>7. Market Research</B></P
><P 
 align="justify"
>My Fresh Shirt may secure the services of a market research firm to collect information from you to improve our service and product mix. Your feedback is optional and results will be used in aggregate reviews.</P
><P 
 align="justify"
><B>8. Limits to Your Privacy</B></P
><P 
 align="justify"
>Our Site may contain links to other Web sites. My Fresh Shirt wants you to be aware that when you click on links and/or ad banners that take you to third-party Web sites, you will be subject to the third parties&rsquo; privacy policies, not ours. While we support the protection of privacy on the Internet, we are not responsible for the actions and privacy policies of third parties and other Web sites. We encourage you to read the posted privacy statement and user terms and conditions whenever interacting with, and prior to providing any personal information to, any other Web site. This Privacy Policy applies solely to information collected by the Company on this Site. </P
><P 
 align="justify"
><B>9. Your Security </B></P
><P 
 align="justify"
>My Fresh Shirt takes precautions to protect your Personal Information. When our registration/order form asks users to enter sensitive information (such as credit card number), that information is encrypted and is protected with encryption software. Our Site encrypts your credit card number prior to transmission over the Internet using secure socket layer (SSL) encryption technology. This technology works best when the Site is viewed using Microsoft&rsquo;s Internet Explorer or Netscape Navigator. While on a secure page, such as our order form, the lock icon on the bottom of Web browsers such as Netscape Navigator and Microsoft Internet Explorer becomes locked, as opposed to unlocked, or open, when you are just &quot;surfing.&quot; </P
><P 
 align="justify"
>While we make reasonable efforts to safeguard your Personal Information once we receive it, no transmission of data over the Internet or any other public network can be guaranteed to be 100% secure. As a result, we cannot ensure or warrant the security of any information you transmit to us or information we transmit to you from our online products or services, and you do so at your own risk </P
><P 
 align="justify"
><B>10. Lost or Stolen Information </B></P
><P 
 align="justify"
>You must promptly notify us if your credit card, user name, or password is lost, stolen, or used without permission. In such an event, we will note that you have canceled your credit card number, user name, or password in our system and will update our records accordingly. </P
><P 
 align="justify"
><B>11. How to limit the use of your information </B></P
><P 
 align="justify"
>Our users are given the opportunity to &quot;opt out&quot; of having their information used for purposes not directly related to placement, processing, fulfillment or delivery of a product order at the point where we ask for the information. If you prefer to &quot;opt out&quot; and not have us send you material we think may be of interest to you, such as product information, product samples, and promotional mailings/e-mails from us and sites and companies we own, then you can notify us by sending an email to <A href="mailto:customerservice@myfreshshirt.com">
<U>customerservice@myfreshshirt.com</U></A> or by calling (212) 625-3131. </P
><P 
 align="justify"
>Your instructions to limit the use of your information will be processed as soon as reasonably practicable. In addition, you may &quot;opt out&quot; by accessing and updating your information in the &quot;My Preferences&quot; area on our Site. </P
><P 
 align="justify"
><B>12. Corrections </B></P
><P 
 align="justify"
>If any of your Personal Information changes (such as your zip code), or if you no longer desire our service, we will correct, update, or remove that personal data provided to us. This can be done by sending an e-mail with your new information to <A href="mailto:customerservice@myfreshshirt.com">
<U>customerservice@myfreshshirt.com</U></A>
. In addition, you may access and update your information in the &quot;My Preferences&quot; area on our Site. </P
><P 
 align="justify"
><B>13. Your Consent and Changes to This Policy </B></P
><P 
 align="justify"
>By using our Site, you consent to the collection and use of information by us in accordance with the terms of this Privacy Policy. If we decide to change our Privacy Policy, we will post those changes on our Site so you are always aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. By continuing to use this site after notice is given, you will have consented to our use of your information in this different manner. If at any time you would like notice of changes to the Privacy Policy or the Customer Agreement, e-mail us at <A href="mailto:customerservice@myfreshshirt.com">
<U>customerservice@myfreshshirt.com</U></A>
 from the e-mail address to which you would like the notice sent. </P
><P 
 align="justify"
><B>14. Disclosure Required by Law </B></P
><P 
 align="justify"
>We may disclose Personal Information when required by law or when we believe in good faith that such action is necessary in order to conform to the edicts of the law or comply with a court order or legal process served upon My Fresh Shirt or any of its officers or principals. We further reserve the right to disclose such information when My Fresh Shirt reasonably believes that it is needed to identify, contact, or bring legal action against a party who may be violating My Fresh Shirt&rsquo;s Terms of Use or may be causing injury to or interference with My Fresh Shirt&rsquo;s rights or property, registered customers or potential customers of My Fresh Shirt, or anyone else that could be harmed by such activities. </P
><P 
 align="justify"
><B>15. Your Comments </B></P
><P 
 align="justify"
>My Fresh Shirt welcomes feedback concerning its Privacy Policy. Please send your comments and questions to <A href="mailto:customerservice@myfreshshirt.com">
<U>customerservice@myfreshshirt.com</U></A>
. </P
><P 
 align="justify"
>&nbsp;</P
><P 
 align="justify"
><B>Acceptable Use Policy</B></P
><P 
 align="justify"
>You are solely responsible for any and all acts and omissions that occur under your account or password, and you agree not to engage in unacceptable use of My Fresh Shirt and its services, which includes, without limitation, use of My Fresh Shirt&rsquo;s services to: (a) disseminate or transmit unsolicited messages, chain letters, or unsolicited commercial e-mail; (b) disseminate or transmit material that, to a reasonable person, may be abusive, obscene, pornographic, defamatory, harassing, grossly offensive, vulgar, threatening, or malicious; (c) disseminate or transmit files, graphics, software, or other material that actually or potentially infringes the copyright, trademark, patent, trade secret, or other intellectual property right of any person; (d) create a false identity or otherwise attempt to mislead any person as to the identity or origin of any communication; (e) export, re-export, or permit downloading of any message or content in violation of any export or import law, regulation, or restriction of the United States and its agencies and authorities, or without all required approvals, licenses, or exemptions; (f) interfere with, disrupt, or attempt to gain unauthorized access to other accounts on the My Fresh Shirt service or any other computer network; (g) disseminate or transmit viruses, Trojan horses, or any other malicious code or program; or (h) engage in any other activity deemed by My Fresh Shirt to be in conflict with the spirit or intent of this Agreement. </P
><P 
 align="justify"
><B>Warranty Disclaimer; Limitation of Liability; Indemnification </B> </P
><P 
 align="justify"
>YOU EXPRESSLY AGREE THAT USE OF THE MY FRESH SHIRT SERVICE, THE SITE, AND THE INTERNET IS ENTIRELY AT YOUR OWN RISK. THE MY FRESH SHIRT SERVICE, THE SITE, AND ITS CONTENTS ARE PROVIDED ON AN &quot;AS IS,&quot; &quot;AS AVAILABLE&quot; BASIS. TO THE EXTENT PERMITTED BY APPLICABLE LAW, MY FRESH SHIRT DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, WITH RESPECT TO THE MY FRESH SHIRT SERVICE, THE SITE, OR ITS CONTENTS OR WITH RESPECT TO ANY INFORMATION, SERVICES, AND PRODUCTS PROVIDED THROUGH OR IN CONNECTION WITH THE MY FRESH SHIRT SERVICE; MY FRESH SHIRT DOES NOT ADOPT ANY REPRESENTATION OR WARRANTY OF ANY MANUFACTURER OR MERCHANT OF ANY SUCH INFORMATION, SERVICE, OR PRODUCTS. MY FRESH SHIRT MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND AS TO THE AVAILABILITY, ACCURACY, OR CONTENT OF ANY INFORMATION, SERVICES, OR PRODUCTS OBTAINED THROUGH THE SITE OR THE MY FRESH SHIRT SERVICES. MY FRESH SHIRT DOES NOT WARRANT THAT THE FUNCTIONS PROVIDED BY THE SITE WILL BE UNINTERRUPTED OR ERROR FREE, OR THAT THIS SITE OR THE SERVER THAT MAKES IT AVAILABLE IS FREE FROM VIRUSES OR OTHER HARMFUL COMPONENTS.  </P
><P 
 align="justify"
>NEITHER MY FRESH SHIRT NOR ANY OF ITS DIRECTORS, EMPLOYEES, SHAREHOLDER MEMBERS, AFFILIATES, AGENTS, REPRESENTATIVES, THIRD-PARTY INFORMATION PROVIDERS, MERCHANTS, OR LICENSORS (COLLECTIVELY, &quot;MY FRESH SHIRT PARTIES&quot;) SHALL BE LIABLE FOR ANY DAMAGES OF ANY KIND, INCLUDING, WITHOUT LIMITATION, COMPENSATORY, DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES; LOSS OF DATA, INCOME, OR PROFIT; OR LOSS OR DAMAGE TO PROPERTY, ARISING OUT OF OR IN CONNECTION WITH THE USE OF, OR THE INABILITY TO USE, THE SITE, THE MY FRESH SHIRT SERVICE, OR THE INTERNET. WITH REGARDS TO MY FRESH SHIRT’S LIABILITY FOR ANY LOST AND/OR DAMAGED ARTICLE(S) OF CLOTHING, PLEASE REFER TO <B>My Fresh Shirt service</B> <I>Delivery of Items above.</I></P
><P 
 align="justify"
>IF YOU CONTEST ANY OF THE AFOREMENTIONED, YOUR SOLE AND EXCLUSIVE REMEDY HEREUNDER SHALL BE FOR YOU TO DISCONTINUE YOUR USE OF THE MY FRESH SHIRT SERVICE AND TO TERMINATE THIS AGREEMENT. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL, INCIDENTAL, OR SPECIAL DAMAGES OR OF IMPLIED WARRANTIES, IN SUCH STATES AND JURISDICTIONS LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW. </P
><P 
 align="justify"
>The material in the site is provided for lawful purposes only. My Fresh Shirt controls and operates this site from its headquarters in New York, New York, USA, and makes no representation that these materials are appropriate or available for use in other locations. If you use the site from other locations, you are responsible for compliance with applicable local laws. Price and service information is subject to change without notice.  </P
><P 
 align="justify"
>You agree to defend, indemnify, and hold My Fresh Shirt Parties harmless from any and all suits, actions, legal or administrative proceedings, claims, demands, damages, liabilities, and expenses, including attorney's fees and costs, arising in connection with a violation of this Agreement by you or through use of your account.   <B>Miscellaneous</B><I> </I></P
><P 
 align="justify"
><I>Termination</I>. This Agreement is effective upon your acceptance as set forth herein and shall continue in full force and effect until terminated. My Fresh Shirt may suspend or terminate this Agreement or the My Fresh Shirt service or remove or disable access to any portion of the My Fresh Shirt service at any time for any reason with or without notice to you. You may terminate this Agreement and your My Fresh Shirt service at any time for any reason by delivering notice in the manner provided below, which termination will be effective the day notice is received or such later date specified in the notice. My Fresh Shirt reserves the right to collect fees and charges incurred before you cancel your My Fresh Shirt service. In addition, you are responsible for any charges incurred to third-party vendors or content providers prior to your cancellation. </P
><P 
 align="justify"
><I>Notices</I>. My Fresh Shirt may give notice to you of a change in this Agreement, a change in the My Fresh Shirt Fee Schedule, and any other matter through a general posting on the My Fresh Shirt site, by electronic mail, or by conventional mail to your address contained in the Customer Registration Data. You may give notice to My Fresh Shirt by sending an e-mail to <A href="mailto:customerservice@myfreshshirt.com">
<U>customerservice@myfreshshirt.com</U></A>
. </P
><P 
 align="justify"
><I>Entire Agreement</I>. This Agreement and the Privacy Policy referred to herein represent your entire agreement with My Fresh Shirt regarding the use of the My Fresh Shirt service and the My Fresh Shirt site. You agree that this Agreement is not intended to confer and does not confer any rights or remedies upon any person other than you, My Fresh Shirt, and My Fresh Shirt Parties. If any portion of this Agreement is held invalid or unenforceable, that portion shall be construed in accordance with applicable law as nearly as possible to reflect the original intention of the parties, and the remainder of this Agreement shall remain in full force and effect. The failure of either party to insist upon strict performance of any provision of this Agreement shall not be construed as a waiver of any provision or right. This Agreement shall be governed by the laws of the State of New York without regard to its conflict of laws rules. You expressly agree that exclusive jurisdiction for any claim or dispute with My Fresh Shirt or relating in any way to your use of the My Fresh Shirt service or the My Fresh Shirt site resides in the federal and state courts of New York and you further expressly consent and agree to personal jurisdiction by the state and federal courts sitting in the State of New York in connection with any such dispute, including any claim involving My Fresh Shirt Parties. Any cause of action by you must be instituted within one year after the claim or cause of action has arisen, or be barred.   <I>Third-Party Beneficiaries</I>. The provisions of this Agreement are for the benefit of My Fresh Shirt Parties, and each shall have the right to assert and enforce the provisions directly on his or her own behalf. This Agreement and all obligations and restrictions placed upon you or your permitted users by this Agreement shall survive termination of this Agreement and your My Fresh Shirt service. </P
><P 
 align="justify"
><I>Amendment</I>. My Fresh Shirt may amend this Agreement at any time by posting the amended terms on our site. All amended terms shall automatically be effective seven days after they are initially posted on our site. By using this site after the effective date of any such amendment, you agree to be bound by any such revisions and should therefore periodically visit this page to determine the then current Agreement to which you are bound. </P
></DIV
></BODY>
</HTML>
