<table>
	<tr>
		<td>
			<font face="Verdana" size="2" color="#99B833">
			    <a href="javascript:window.close();"><font color="#669900">close</font></a></font><br/><br/>
			</td>
			</tr>
	<tr>
		<td>
			<font size="4" face="Verdana" color="#000033"><strong>Customizing Your Order</strong></font><br/>
			<img src="images/customize_screenshot.jpg" width="849" height="750" border="0"/>
			</td>
			</tr>
			<tr>
				<td>
					<font face="Verdana" size="2" color="#99B833">
					    <a href="javascript:window.close();"><font color="#669900">close</font></a></font>
					</td>
					</tr>
			</table>