<table width="520" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/popup_header.jpg" width="520" height="93" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td><table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="522" id="AutoNumber1">
  <tr>
    <td width="462">&nbsp;</td>
    <td width="57"><font face="Verdana" size="1" color="#99B833">
    <a href="javascript:window.close();"><font color="#669900">close</font></a></font></td>
  </tr>
  <tr>
    <td width="462">
    <div>
<font size="4" face="Verdana" color="#000033"><strong>DELIVERY CHARGES</strong></font><br/><br/> 
	
	<table width="375" border="0">
		<tr>
			<td width="250"><font size="2" face="Verdana" color="#000033" line-height="1.5">Orders greater than $30.00</td>
			<td width="125"><font size="2" face="Verdana" color="#000033" line-height="1.5">$4.99</td>
		<tr>
			<td width="250"><font size="2" face="Verdana" color="#000033" line-height="1.5">Orders greater than $20.00</td>
			<td width="125"><font size="2" face="Verdana" color="#000033" line-height="1.5">$6.99</td>
		</tr>
		<tr>
			<td width="250"><font size="2" face="Verdana" color="#000033" line-height="1.5">Orders less than $20.00</td>
			<td width="125"><font size="2" face="Verdana" color="#000033" line-height="1.5">$9.99</font></td>
		</tr>
		</table><br/>
	
     <font size="2" face="Verdana" color="#000033" line-height="1.5"><i><b>Please Note:</b> In the case of a 3rd missed delivery, a charge of $4.99 will be assessed.</i></font> <br/><br/> 

<font size="3" face="Verdana" color="#99cc33" align="left"><a name="1" id="1"></a>Cancellation Charge<br/><br/> 
	<font size="2" face="Verdana" color="#000033" line-height="1.5">If your order is canceled after 12:00 AM the day of your service, a cancellation charge of $4.99 will be charged to your account.</font> <br/><br/> 

	<font size="3" face="Verdana" color="#99cc33" align="left">Express Service*<br/><br/> 
<font size="2" face="Verdana" color="#000033" line-height="1.5">All cleaning fees subject to a 25% surcharge for express service.</font><br/><br/> 

	<font size="3" face="Verdana" color="#99cc33" align="left">The Fresh Express*<br/><br/> 
<font size="2" face="Verdana" color="#000033" line-height="1.5">All cleaning fees subject to a 50% surcharge for fresh express service.</font><br/><br/> 

	<font size="3" face="Verdana" color="#99cc33" align="left">My Fresh Closet*</font><br/><br/> 
<font size="2" face="Verdana" color="#000033" line-height="1.5">In the event that a delivery is unable to be made and we store your clothing for more than 30 days, a fee of $9.99 will be assessed on the 31st day and reassessed every 29 days following. We will make all feasible attempts to reach you. If no response is heard, on the 91st day your clothes may be donated to a local charity.</font> <br/><br/> 

	<font size="2" face="Verdana" color="#000033" line-height="1.5"><i>* Services are subject to availability.</i></font>


    </div>
    <p>&nbsp;</td>
    <td width="57">&nbsp;</td>
  </tr>
  <tr>
    <td width="462">&nbsp;</td>
    <td width="57"><font face="Verdana" size="1" color="#99B833">
    <a href="javascript:window.close();"><font color="#669900">close<br />
    <br />
    <br />
    </font></a></font></td>
  </tr>
</table></td>
  </tr>
</table>

<map name="Map" id="Map"><area shape="rect" coords="135,13,387,80" href="/" />
</map>