<%= render :partial => 'sidebar' %>
<td valign="top" width="725" style="padding-right: 15px;">
    <img src="/images/doorman.gif" height="62" width="455">
    <br>
    
    <div class="main_copy_font">
	If you live in a doorman building, doing laundry couldn't be easier.  Simply schedule your pick up and delivery on the dates you desire and then leave your clothes with your doorman.  Or, if your building is registered with My Fresh Shirt, you don't even have to go through the standard ordering process.  Just leave your laundry with your doorman, and we’ll pick it up and deliver it on your building's scheduled days of service.  We encourage you to contact us with any questions you may have regarding our doorman policies and procedures, at <a href="mailto:customerservice@myfreshshirt.com">customerservice@myfreshshirt.com</a>
<br/><br/>
	If your doorman building is not registered, speak with your building manager and register it today. No special commitment is required!
	</div>
    <br>
    <p class="title_font">
        LEARN MORE ABOUT
        <br>
        <br>
        <a href="/ordering_process">Ordering Process</a>
        <br>
        <a href="/our_cleaning">Cleaning Services</a>
        <br>
        <a href="/pickup">Pick Up &amp; Delivery</a>
        <br>
        <a href="/my_environment">My Fresh Environment
            <br>
            <br>
            <br>
        </a>
    </p>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>