<%= render :partial => 'sidebar' %>
  <td valign="top" width="725" style="padding-right: 20px; padding-left: 15px;">
    <br><h1 style="font-size:32px;">ECO-POINT REWARD PROGRAM</h1>
    <table width="100%">
      <tr></tr>
      <tr>
          <td>
              <div style="float:left;padding-right:10px;"><%= image_tag("my-eco-point.jpg") %></div>
              <div class="subtitleGreen">ECO-POINTS = FRESH CASH SAVINGS<br><br></div>
              <ul class="ecoPointTop">
                <li>500 Eco-Points = $50 Fresh Cash</li>
                <li>1000 Eco-Points = $100 Fresh Cash</li>
                <li>2000 Eco-Points = $200 Fresh Cash</li>
                <li>5000 Eco-Points = $500 Fresh Cash</li>
              </ul>
              <br>
              <div class="subtitleGreen">8 WAYS TO SAVE MONEY<br><br></div>
              <ul class="ecoPoint">
                <li>Recycle old hangers and poly bags = 25 points</li>
                <li>Buy reusable garment bag or laundry bag = 50 points</li>
                <li>Schedule service in <Green Leaf Delivery> level 1 (1 of 2 windows) = 25 points</li>
                <li>Schedule service in <Green Leaf Delivery> level 2 (2 of 2 windows) = 50 points</li> 
                <li>Sign up for recurring service, after 4 orders, get 100 points</li>
                <li>Donate old clothes = 25 points</li>
                <li>Donate canned goods = 25 points</li>
                <li>Participate in our MFS customer satisfaction 10 question survey = 50 points</li>
              </ul>
          </td>
      </tr>
  </table><br><br><br>
  </td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
