<%= render :partial => 'sidebar' %>
<td valign="top" width="725" style="padding-right: 15px;">
    <a name="0" id="0"></a>
    <img src="/images/GOINGBEYONDCARBON.gif" height="59" width="437">
    <br>
    <br>
    <span class="subtitle">Global
        climate change is a growing concern, and at My Fresh Shirt we are
        dedicated to directly addressing this issue. We have built this company 
        with solutions in mind, to maintain true sustainability. </span>
    <br>
    <br>
    <span class="greenBlack9"><a href="#1">OUR FLEET</a> | <a href="#2">OUR LAUNDRY SERVICE EQUIPMENT</a> | <a href="#3">OUR PARTNERS</a>
        <br>
        <a href="#4">CULTURAL AWARENESS</a> | <a href="#5">CONSERVE TO PRESERVE</a> | <a href="#6">CARBON NEGATIVE </a>
    </span>
    <br>
    <br>
    <br>
    <span class="subtitleGreen"><a name="1" id="1"></a>OUR FLEET </span>
    <br>
    <br>
    <span class="main_copy_font">Today, measures that we have taken have
        resulted in 35% more fuel efficiency for every mile we drive on our
        routes. In order to realize our goals of a zero emissions fleet, we
        will continue to invest in and research the most advanced technology
        where feasible. In the meanwhile, we are teaming up with TerraPass to
        offset the CO2 and other greenhouse gas emissions that are inevitable.
        In addition, we will continue to apply responsible operating procedures
        to further reduce our impact on the environment. For example, our Green
        Leaf delivery system encourages customers to pool their orders to
        create more efficient routes and decrease the number of vehicle starts and
        distance traveled on our routes.</span>
    <a href="#0">back to top </a>
    <br>
    <br>
    <span class="subtitleGreen"><a name="2" id="2"></a>OUR LAUNDRY SERVICE EQUIPMENT </span>
    <br>
    <br>
    <span class="main_copy_font">Our current laundry services equipment
        uses 50% less energy and wastes 66% less water than other industrial
        washer-extractor machines. We are committed to using less energy where
        feasible and continue to research advanced methodologies to conserve
        available resources. Our greatest impact on the environment is through
        our electricity usage, therefore, My Fresh Shirt has committed to
        purchasing 100% of its energy consumption through clean and renewable
        sources, like wind energy, that are produced locally. In addition to
        energy conservation, we are committed to using environmentally and biologically safe cleaning solvents and additives,
        readily biodegradable solutions, and proper and safe disposal of waste
        products.</span>
    <a href="#0">back to top </a>
    <br>
    <br>
    <span class="subtitleGreen"><a name="3" id="3"></a>OUR PARTNERSHIP WITH TERRAPASS </span>
    <br>
    <br>
    <span class="main_copy_font">We have teamed up with one of the most
        progressive companies that offers carbon offset credits in the market
        today. TerraPass funds three different project types: clean wind
        energy, farm power from animal waste, and landfill gas recapture. We
        chose to work with TerraPass because of their commitment to true
        transparency and investment in projects that will result in reductions
        in the same calendar year guaranteeing that our investments are making
        a difference now.</span>
    <a href="#0">back to top </a>
    <br>
    <br>
    <span class="subtitleGreen"><a name="4" id="4"></a>CULTURAL AWARENESS </span>
    <br>
    <br>
    <span class="main_copy_font">My Fresh Shirt recognizes that the
        preservation of the environment is an essential part of our business
        practices. We are committed to promoting a culture that is focused on
        being environmentally sensitive as we work with our employees,
        customers, suppliers, and industry organizations and the communities we
        serve in safeguarding the environment for future generations.</span>
    <a href="#0">back to top </a>
    <br>
    <span class="subtitleGreen">
        <br>
        <a name="5" id="5"></a>CONSERVE TO PRESERVE 
    </span>
    <br>
    <br>
    <span class="main_copy_font">At My Fresh Shirt, we react progressively
        to the mounting problem of waste. Our company is focused on reducing
        the amount of waste we produce by limiting the amount of printed
        material we use, utilizing reusable laundry and dry cleaning bags,
        where the dry cleaning bag converts to a garment bag to serve two
        purposes, and utilizing the internet as much as possible to deliver
        marketing material and promotions. In addition we have an no questions
        asked recycling program where we collect our customers used hangers and
        poly plastic bags even if they come from our competitors because
        increasing landfills are everybody's problem.</span>
    <a href="#0">back to top </a>
    <br>
    <span class="subtitleGreen">
        <br>
        <a name="6" id="6"></a>GOING BEYOND CARBON NEUTRAL 
    </span>
    <br>
    <br>
    <span class="main_copy_font">Because
        My Fresh Shirt refuses to take a neutral stance on our environment and
        our community, we do not see a reason to only go carbon neutral. We
        will not be innocent bystanders. We have taken a proactive stance to
        not only mitigate our impact but to invest in opportunities that will
        effectively reverse our impact on the environment. We have partnered
        with our customers in our My Fresh Air and My Fresh Water program to
        have a net positive result on the world we share. All this while
        providing the most convenient laundry and dry cleaning solution that
        never sacrifices professional quality and top notch customer service.</span>
    <a href="#0">back to top </a>
    <br>
    <br>
    <span class="subtitleGreen">LEARN MORE ABOUT </span>
    <br>
    <br>
    <span class="right_nav_links_text"><strong>MY FRESH AIR PROGRAM:</strong> A partnership with our customers to go beyond carbon neutrality. <a href="/my_fresh_air">Read more.</a></span>
    <br>
    <span class="right_nav_links_text"><strong>
            <br>
            MY FRESH WATER PROGRAM:
        </strong>
    </span>
    <br>
    <table align="center" border="0" cellpadding="10" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <img src="/images/terrapass-logo.jpg" height="102" width="135">
                </td>
                <td>
                    <img src="/images/eco-logic.jpg" height="119" width="110">
                </td>
                <td>
                    <img src="/images/clean_power.gif" height="105" width="284">
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
