<%= render :partial => 'sidebar' %>
<table valign="top" width="725" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><br/>
            <span class="subtitle"><!--<a name="top"></a><img src="/images/ABOUTUS-LIFE.gif" width="591" height="90" />
                <br/>
                <br/>-->
                HOW CAN WE HELP YOU TODAY ?
            </span>
            <br/>
            <br/>
            <table border="0" cellpadding="0" cellspacing="0" width="650">
                    <tbody>
                        <tr>
                            <td class="greenBlack9">
                                <a href="#1">MY SERVICE</a>
                                | <a href="#2">ORDER</a>
                                | <a href="#3">PICK UP &amp; DELEVERY</a>
                                | <a href="#4">PAYMENT</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <br/>
            <a name="1" id="1"></a>
            <img src="/images/MYSERVICE.gif" width="197" height="32" />
            <br/>
            <br>
        </td>
    </tr>
    <tr>
        <td class="main_copy_font">
            <span class="subtitleGreen"><a name="0"></a>What makes MY FRESH SHIRT different from others regarding quality?</span>
            <br>
We put an emphasis on quality.  We diligently take proactive measures to ensure the proper handling of your items.   That means keeping an extensive knowledge base of current technologies and following the manufacturer’s specifications on the garments as well as that of the cleaning equipment.  In addition, our team of industry experts oversee your items throughout the entire cleaning process.  We know that your clothing is important to you, that’s why we treat each item with the attention and care it deserves.  At My Fresh Shirt we never sacrifice quality. <br/><a href="#top">back to top</a>
            <br>
            <br>
            <span class="subtitleGreen">How do I contact you?</span>
            <br>
            The best way to reach us is via email at <a href="mailto:customerservice@myfreshshirt.com">customerservice@myfreshshirt.com</a>.  and we will respond to your inquiry within 24 hours. <br/><a href="#top">back to top</a>
            <br>
            <br>
            <span class="subtitleGreen">Does My Fresh Shirt offer service in my neighborhood?</span>
            <br>
            We're working our way to you! <a href="javascript:load_window('/servicearea', 'Service_Areas')">Click here</a> to see which neighborhoods we currently service. If you happen to be in an area we don’t service yet, <a href="/zip">Sign Up</a> with us today so we can notify you when we will be.  If you live in a doorman building, give your building manager this form and let them know you’re interested in our services. No commitment is required. <br/><a href="#top">back to top</a>
           
            <br>
            <br>
        </td>
    </tr>
    <tr>
        <td class="main_copy_font">
                <a name="2" id="2"></a>
            <img src="/images/ORDER.gif" alt="" width="119" height="31" />
            <br/>
            <br/>
            
            <span class="subtitleGreen">Do you have a minimum order?</span>
            <br>
            We do not have a minimum order, however, depending on the size of your order, a <a href="javascript:load_window('/delivery_fees', 'Delivery_Fees')">delivery charge</a> will apply. <br/><a href="#top">back to top</a>
            <br/>
            <br/>
            <span class="subtitleGreen">How late can I request an order for pick up?</span>
            <br>
            Different areas have different cut-off times to place an order. When you arrive at the scheduling page, a notification will allow you to see what the current cutoff time is. <br/><a href="#top">back to top</a>
            <br/>
            <br/>
            <span class="subtitleGreen">I like extra starch, how do I let you know? </span>
            <br>
            We understand that everyone has his or her personal preferences.  If during your ordering process, you realize there are special needs for your items, you can customize your order and let us know by indicating that an item needs special handling. <a href="javascript:load_window_large('/customize_example', 'Customize_Example')">See screenshot here.</a><br/><a href="#top">back to top</a>
            <br/>
            <br/>
            <span class="subtitleGreen">How do I change or cancel an online order? </span>
            <br>
            By contacting us at <a href="mailto:customerservice@myfreshshirt.com">customerservice@myfreshshirt.com</a>. Additionally, you can change or cancel an order by going to your dashboard.  There you can view your current and pending orders, as well as edit or cancel any available orders. <br/><br/>
	As a courtesy to our drivers, should you decide to change or <a href="javascript:load_window('/delivery_fees#1', 'Delivery_Fees')">cancel your service</a>, we kindly ask that notify us at least by midnight the day before your scheduled service. <br/><a href="#top">back to top</a>
            <br>
            <br>
            <span class="subtitleGreen">Where do I get the My Fresh Shirt Laundry or Garment bags?</span>
            <br>
            With your first order, we will bring you a convertible and reusable dry cleaning/garment bag (to be used for laundered shirts and dry cleaning only) as well as a laundry bag (should you request this service).  Each bag will have a unique barcode that will be linked to your account.  In the event that you need an additional laundry or garment bag, they can be purchased through our online store or can be added as a purchase at the end of any cleaning order.  <br/><a href="#top">back to top</a>
                <br>
                <br>
<i>* A cancellation fee may apply if your request is made after 12:00 AM (midnight) the day of your scheduled service.</i>  <br/><br/>
        </td>
    </tr>
    <tr>
        <td class="main_copy_font">
            <br/>
            <br/>
            <a name="3" id="3"></a>
            <img src="/images/PICKUP&DELIVERY.gif" alt="" width="335" height="34" />
            <br/>
            <br/>
            </a>
            <div align="left">
                <span class="subtitleGreen">Do you charge for pick-up and delivery?</span>
                <br>
                My Fresh Shirt does not charge for picking up your items.  A delivery fee will be charged to your order and is determined by the final ticket price of our services rendered. See our <a href="javascript:load_window('/delivery_fees', 'Delivery_Fees')">delivery fees here</a>.<br/><a href="#top">back to top</a>
                <br/>
                <br/>
                <span class="subtitleGreen">When you pick up my items, when will they be ready?</span>
                <br>
                The turnaround time is typically 2 days for standard orders.  Express orders, where available, are typically ready within 24 hours from the time of pick-up. <br/><a href="#top">back to top</a>
                <br/>
                <br/>
                <span class="subtitleGreen">Who do I contact if there is a problem with a recent delivery?</span>
                <br>
                If you are ever unsatisfied or inconvenienced with our service, we will do our best to correct it.  For most concerns, an inquiry can be made through your account page.  Or, you can contact us at <a href="mailto:customerservice@myfreshshirt.com">customerservice@myfreshshirt.com</a>.  <br/><a href="#top">back to top</a>
                <br/>
                <br/>
                <span class="subtitleGreen">Can I use My Fresh Shirt if I don&rsquo;t live in a doorman building?</span>
                <br>
                Yes you can! We service residential and commercial establishments within our current service area (<a href="javascript:load_window('/servicearea', 'Service_Area')">click here to see the currently serviced zip codes</a>). If we don’t service your area, <a href="/zip">Sign Up Now</a> and we will notify you when we come to your neighborhood. <br/><a href="#top">back to top</a>
                <br/>
                <br/>
          
                </td>
            </tr>
            <tr>
                <td class="main_copy_font">
                    <br/>
                    <br/>
                    <a name="4" id="4"></a>
                    <img src="/images/PAYMENT.gif" alt="" width="190" height="34" />
                    <br/>
                    <br/>
                    
                    <span class="subtitleGreen">How do I pay My Fresh Shirt ?</span>
                    <br>
                    We accept all major credit cards (Visa, MasterCard, Discover, American Express, as well as debit cards bearing the MasterCard or Visa logo).  For your convenience, you can save it to your account via our secure, encrypted website so you do not have to enter it with each order you place.  An itemized bill detailing appropriate costs and services will be sent to you upon sorting your order at our facility.  Once your order is delivered, you will be charged accordingly, and an itemized receipt will be sent to you via email.  For your reference and convenience, a history of your orders will be available upon login. <a href="#top">back to top
                        <br>
                        <br>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="subtitle">
                    FAQS 
                    </br><br/>
                </span>
                <a href="#0">
                    <br>
                    SERVICE
                </a>
                <br/>
                <a href="#1">ORDER</a>
                <br/>
                <a href="#2">PICK UP &amp; DELIVERY</a>
                <br/>
                <a href="#3">PAYMENT</a>
                <br>
                <br>
                <br/>
                </td>
            </tr>
            </table>
