<table width="520" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/popup_header.jpg" width="520" height="93" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td><table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="522" id="AutoNumber1">
  <tr>
    <td width="462">&nbsp;</td>
    <td width="57"><font face="Verdana" size="1" color="#99B833">
    <a href="javascript:window.close();"><font color="#669900">close</font></a></font></td>
  </tr>
  <tr>
    <td width="462">
    <div>
	<font size="4" face="Verdana" color="#000034" align="left"><strong>FIVE POINTS PROCESS</strong></font>
	<br/><br/>
     	<font size="2" face="Verdana" color="#000033" line-height="1.5">At My Fresh Shirt each item passes through at least five stages before final inspection. We use skilled craftsmen at every stage to achieve the best possible results.</font> 
	<br/><br/>
<font size="3" face="Verdana" color="#99cc33" align="left">STAIN REMOVAL &amp; CLEANING</div></font>
<font size="2" face="Verdana" color="#000033" line-height="1.5">Our highly experienced spotters use their knowledge of stains to take calculated measures to effectively service your clothes. The Dry cleaning is then done following exact and stringent procedures using extensive classification. We only use the purest, readily biodegradable solvents that are safe for you and for the environment. We are 100% perc free.</font>

	<br/><br/>
	<font size="3" face="Verdana" color="#99cc33" align="left">FINISHING</div></font>
		<br/><br/>
	<font size="2" face="Verdana" color="#000033" line-height="1.5">Using state of the art technology, each item is gently machine pressed to ensure a crisp new garment each time.</font>
	<br/><br/>
	<font size="3" face="Verdana" color="#99cc33" align="left">MINOR REPAIRS (OPTIONAL)</div></font>
		<br/><br/>
<font size="2" face="Verdana" color="#000033" line-height="1.5">As part of the finishing process, our skilled craftsmen can also reinforce any loose buttons, fix any loose hems, or other minor problems.</font>
	<br/><br/>
	<font size="3" face="Verdana" color="#99cc33" align="left">INSPECTION</div> </font>
		<br/><br/>
<font size="2" face="Verdana" color="#000033" line-height="1.5">Each garment is inspected by hand to ensure it meets the high standards that we have placed on our professional garment care.</font>
	<br/><br/>
	<font size="3" face="Verdana" color="#99cc33" align="left">PACKAGING</div></font>
		<br/><br/>
<font size="2" face="Verdana" color="#000033" line-height="1.5">Most of your garments will fit within your FRESH convertible and reusable garment bag. If you have many items, we use recyclable poly robes. We also place the finishing touches to guarantee a ready-to-wear, crisp garment.	<br/><br/>

	The age and type of stain, and the color and fabric material dictate how we treat your items. In the case that a stain becomes difficult to remove, our expert spotters follow the manufacturer’s recommendation to remove the stain. However sometimes, the dye is weaker than the stain and some color will be removed in the process. 	<br/><br/>

	Unless we have discussed this matter with you or you have given us permission, we will operate within professional safety margins to service your garments.</font>
    </div>
    <p>&nbsp;</td>
    <td width="57">&nbsp;</td>
  </tr>
  <tr>
    <td width="462">&nbsp;</td>
    <td width="57"><font face="Verdana" size="1" color="#99B833">
    <a href="javascript:window.close();"><font color="#669900">close<br />
    <br />
    <br />
    </font></a></font></td>
  </tr>
</table></td>
  </tr>
</table>

<map name="Map" id="Map"><area shape="rect" coords="135,13,387,80" href="/" />
</map>