<%= render :partial => 'sidebar' %>
<td valign="top" width="725" style="padding-right: 15px;">
    <br>
    <a name="0" id="0"></a>
    <img src="/images/MYFRESHAIR.gif" height="33" width="238">
    <br>
    <span class="greenBlack9"><a href="#1">
            <br>
            HOW IT WORKS
        </a>
        | <a href="#2">OUR PRINCIPLES</a> | <a href="#3">HOW YOU CAN CONTRIBUTE </a></span>
    <br>
    <br>
    <span class="subtitle">Fresh
        clothes, fresh air! We appreciate our customers concerns about climate
        change. Our values are aligned with like-minded consumers who take the
        first step to fight global warming by reducing their carbon footprint
        through conservation. After our efforts to ensure carbon neutrality, we
        believe that a partnership with you will help us reach the goal to
        become carbon negative. As partners, our progressive program, MY FRESH
        AIR, is uniquely tailored to offset the carbon and other greenhouse gas 
        emissions from your actual usage of our services. </span>
    <br>
    <br>
    <a name="1" id="1"></a>
    <span class="subtitleGreen">HOW DOES IT WORK </span>
    <br>
    <br>
    <span class="main_copy_font">MY
        FRESH AIR allows our customers to be stewards for climate change. The
        program provides you with the opportunity to donate to our MY FRESH AIR
        fund to purchase certified carbon offsets. The CO2 emissions are
        calculated using actual fuel consumption and electricity usage by our
        fleet and laundry services equipment. Using complex algorithms and
        tracking methods, we calculate the average distance of transport and
        energy usage per item dry cleaned and per pound laundered. These
        algorithms are evaluated quarterly and readjusted to reflect real world
        usage and prices of current municipal energy sources. Customer
        contributions to MY FRESH AIR fund the purchase of offsets through our
        partner, terrapass. Terrapass funds three different project types:
        clean wind energy, farm power from animal waste, and landfill gas
        recapture. We chose to work with TerraPass because of their commitment
        to true transparency and investment in projects that will result in
        reductions in the same calendar year guaranteeing that our investments
        are making a difference now. Visit www.terrapass.com to learn more 
        today. </span>
    <a href="#0">back to top</a>
    <br>
    <a name="2" id="2"></a>
    <span class="subtitleGreen">
        <br>
        OUR PRINCIPLES 
    </span>
    <br>
    <br>
    <span class="main_copy_font">100%
        of the carbon offsets we purchase are through verifiable greenhouse gas
        emission programs according to the international Kyoto protocol and
        where indicated supported by certifications by the CDM Gold Standard,
        Green-e certified, Voluntary Carbon Standard 2007, Chicago Climate
        Exchange Offset Protocols, California Climate Action Registry, EPA
        Climate Leaders, ISO 14064-2, or they must adhere to the standards set
        forth by the Climate Community &amp; Biodiversity Alliance.</span>
    <a href="#0">back to top </a>
    <br>
    <br>
    <a name="3" id="3"></a>
    <span class="subtitleGreen">HOW DO YOU CONTRIBUTE? </span>
    <br>
    <br>
    <span class="main_copy_font">We have made it easy for you to contribute
        to the growing problem. When you sign up with My Fresh Shirt, you can
        easily join the MY FRESH AIR program and contribute every time you use
        our service. When you do your dry cleaning &amp; laundry with us, we
        carefully calculate your actual carbon footprint and suggest an amount
        to donate to offset your usage. This usually averages to about 25 cents
        for your entire order. A simple step in the right direction to a
        complex problem, Sign up with My Fresh Shirt today and join MY FRESH
        AIR! Another way to contribute is to log in to your dashboard page
        where you can see what the current balance of carbon emissions of your
        usage. You can find it easily by going to your Eco-Logic tab. Here you
        can choose to offset what you feel comfortable donating. We appreciate
        every effort that you make to help us curb global climate change. Do
        you want to contribute more? Not currently a member of My Fresh Shirt?
        Purchase a MY FRESH AIR card at our store or after placing an order,
        for $15.00 you can offset 1 metric ton of CO2 emissions. You can find
        MY FRESH AIR cards at our store or at the end of your order by adding a
        special item to your service. My Fresh Air Page: Continued
        We appreciate any effort you make in helping us reach our goal to
        reduce 1 Million tons of CO2 emissions this year. Imagine, the next
        time you change your clothes, you can be changing the world.</span>
    <a href="#0">back to top </a>
    <br>
    <br>
    <span class="subtitleGreen">LEARN MORE ABOUT </span>
    <br>
    <br>
    <span class="right_nav_links_text"><strong>ECO-LOGIC:</strong> My Fresh Shirt takes ownership of its community, the environment, and those that need our help.
        <br>
        <a href="/my_ecologic">read more.</a>
        <br>
        <br>
    </span>
    <br>
    <br>
    <img src="/images/terrapass-logo.jpg" height="102" width="135">
    <br>
    <br>
    <br>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
