<%= render :partial => 'sidebar' %>
<td valign="top" width="725" style="padding-right: 15px;">
    <br>
    <a name="0" id="0"></a>
    <img src="/images/MYFRESHWATER.gif" height="29" width="299">
    <br>
    <span class="greenBlack9"><a href="#1">
            <br>
            HOW IT WORKS
        </a>
        | <a href="#2">OUR PRINCIPLES</a> | <a href="#3">HOW YOU CAN CONTRIBUTE </a></span>
    <br>
    <br>
    <span class="main_copy_font">Fresh clothes, fresh water! My Fresh Shirt is committed to improving your quality of life by providing a convenient laundry and dry cleaning solution that never sacrifices professional quality and top notch customer service. Why stop there? Because we’re not content with just improving our quality of life.  We want to help others too!</span>
    <br>
    <br>
    <a name="1" id="1"></a>
    <span class="subtitleGreen">HOW IT WORKS </span>
    <br>
    <br>
    <span class="main_copy_font">Current washing machines use about 3 gallons of water per pound of laundry washed. With the technology that we will be taking advantage of, current projections and real world applications have made it possible to use approximately 1 gallon of water per pound of laundry. 
        <br>
        <br>
        At My Fresh Shirt, we didn’t want to stop at just saving two gallons of water, we wanted to find a way to give it to someone who could really use it…and we have. Our My Fresh Water program keeps track of how much water you have saved by doing your wash & fold laundry with us. Then by way of algorithm, we are able to determine what it would cost to donate a gallon of water based on your actual usage.
        <br>
        <br>
        Did you know that 42,000 deaths occur every week from lack of safe water and basic sanitation, where 90% are children under 5 years old?
        <br>
        <br>
       Contributions to MY FRESH WATER fund the purchase of wells through an alliance formed with charity: water. Each well will provide a small community with safe & clean drinking water. Since August 2006, charity: water has proven their commitment by building more than 250 wells that have provided clean drinking water to more than 150,000 people. It’s a proven equation for a dire situation. And by using My Fresh Shirt’s wash &amp; fold service you too can help conserve water and provide life.  
        Visit <a href="http://www.charityis.org" target="_blank">www.charityis.org</a> to 
        learn more today.
    </span>
    <a href="#0">back to top</a>
    <br>
    <a name="2" id="2"></a>
    <span class="subtitleGreen">
        <br>
        OUR PRINCIPLES 
    </span>
    <br>
    <br>
    <span class="main_copy_font">All donations to MY FRESH WATER will result in the direct funding of the building of wells. We set concrete goals to produce tangible results. Safe drinking water is not an issue we take lightly. Why remain neutral when you can take a proactive stance? Join MY FRESH WATER today!</span>
    <a href="#0">back to top </a>
    <br>
    <br>
    <a name="3" id="3"></a>
    <span class="subtitleGreen">HOW DO YOU CONTRIBUTE? </span>
    <br>
    <br>
    <span class="main_copy_font">To start contributing, simply go to the Eco-Logic tab on your dashboard page. There you can see how much water you have saved thus far. Then you can determine whether or not you would like to donate. We appreciate everyone’s effort in helping to provide safe & clean drinking water to those who need it most.  
        <br>
        <br>
        Want to contribute more? Not currently a member of My Fresh Shirt? Purchase a MY FRESH WATER certificate at our store or after placing an order by adding a “special item” to your service and you can help in providing clean, safe drinking water to those who really need it.  
        <br>
        <br>
        Imagine, the next time you change your clothes, you can be changing the world. 
    </span>
    <a href="#0">back to top </a>
    <br>
    <br>
    <span class="subtitleGreen">LEARN MORE ABOUT </span>
    <br>
    <br>
    <span class="right_nav_links_text"><strong>ECO-LOGIC:</strong> My Fresh Shirt takes ownership of its community, the environment, and those that need our help.
        <br>
        <a href="/my_ecologic">read more.</a>
        <br>
        <br>
        <strong>MY FRESH AIR PROGRAM:</strong> A partnership with our customers to go beyond carbon neutrality. 
    </span>
    <a href="/my_fresh_air">read more</a>
    <br>
    <br>
    <br>
    <br>
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td align="right">
                    <div align="left">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://www.charityis.org" target="_blank"><img src="/images/charity-water.jpg" alt="1" height="47" width="347"></a>
                    <br>
                    <img src="/images/handswell.jpg" alt="4" height="262" width="346"><img src="/images/dirty-bottle.jpg" alt="3" height="197" width="112"><img src="/images/clean-bottle.jpg" alt="2" height="214" width="72">
                    <br>
                    <br>
                    <img src="/images/dirty2clean1.jpg" height="214" width="654">
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <br>
                    <img src="/images/dirty2clean.jpg" height="214" width="425">
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
