<%= render :partial => 'sidebar' %>
<td valign="top" width="725" style="padding-right: 15px;"><br>
    <div align="center"><img src="/images/clicktoclean.gif" height="27" width="608"></div>
    <br>
<div class="main_copy_font">
   <span class="subtitle">My Fresh Shirt is the most convenient solution for all of your dry cleaning &amp; laundry needs. Our FRESH service lets you schedule your pick up and delivery around your life.</span>
	<br/><br/>
	
	<span class="subtitleGreen">1.</span> Create your account, build your order, and schedule your convenient pick up &amp; delivery on the day of your choice, and within a two hour time window that works best for you.  
	<br/><br/>
	
	<span class="subtitleGreen">2.</span> Place your items in a reusable MY FRESH SHIRT Laundry or convertible Dry Cleaning/Garment bag (convertible bag is to be used for laundered shirts and dry clean only), we will bring you one with your first order.   
	<br/><br/>
	
	<span class="subtitleGreen">3.</span> A My Fresh Shirt Team Member will arrive promptly to pick up your clothes. 
	<br/><br/>
	
	<span class="subtitle">THEN LEAVE THE REST TO US, AND HAVE A GREAT DAY!</span>
	</div>
    <br>
    <p class="title_font">
        LEARN MORE ABOUT
        <br>
        <br>
        <a href="/ordering_process">Ordering Process</a>
        <br/>
        <a href="/our_cleaning">Cleaning Services</a>
        <br/>
        <a href="/pickup">Pick Up &amp; Delivery</a>
        <br/>
        <a href="/my_environment">My Fresh Environment</a>
            <br>
            <br>
            <br>
      
    </p>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
