<table width="520" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/popup_header.jpg" width="520" height="93" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td><table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="522" id="AutoNumber1">
  <tr>
    <td width="462">&nbsp;</td>
    <td width="57"><font face="Verdana" size="1" color="#99B833">
    <a href="javascript:window.close();"><font color="#669900">close</font></a></font></td>
  </tr>
  <tr>
    <td width="462">
    <div>
	<font size="4" face="Verdana" color="#000034" align="left"><strong>SECURITY &amp; INSURANCE</strong></font><br/><br/>
     	<font size="2" face="Verdana" color="#000033" line-height="1.5">At My Fresh Shirt we operate within strict guidelines and principles to minimize grievances. Should a problem arise, we are committed to providing a prompt resolution and ensuring your satisfaction.</font><br/><br/>

<font size="2" face="Verdana" color="#000033" line-height="1.5">Traditional dry cleaners use a paper tagging system that produces a lot of waste and lends itself to many lost items as the tags tends to fall off either during the washing cycle, finishing, or in preparation for sorting. My Fresh Shirt has found an eco-conscious solution, using discrete bar code tags that are placed in inconspicuous locations. Most people never even notice them. This allows us to provide excellent tracking services while reducing our impact on the environment.</font><br/><br/>

<font size="2" face="Verdana" color="#000033" line-height="1.5">In the event that an item is lost and cannot be located, we will compensate you at retail value for the garment or 10x the price of cleaning the garment, whichever is less. Using our premium service, we will compensate you at retail value for the garment or 30x the price of cleaning the garment, whichever is less.</font><br/><br/>

    </div>
    <p>&nbsp;</td>
    <td width="57">&nbsp;</td>
  </tr>
  <tr>
    <td width="462">&nbsp;</td>
    <td width="57"><font face="Verdana" size="1" color="#99B833">
    <a href="javascript:window.close();"><font color="#669900">close<br />
    <br />
    <br />
    </font></a></font></td>
  </tr>
</table></td>
  </tr>
</table>

<map name="Map" id="Map"><area shape="rect" coords="135,13,387,80" href="/" />
</map>