<%= render :partial => 'sidebar' %>
<td valign="top" width="725" style="padding-right: 15px;">
    <img src="/images/MYfreshenvironment.jpg" height="193" width="179">
    <br>
    <br>
    <img src="/images/WEAREECOLOGIC.gif" height="35" width="676">
    <br>
    <br>
    <span class="subtitle">My Fresh Shirt is committed to promoting ethical environmental &amp; social responsibility in its culture. </span>
    <br>
    <br>
    <span class="main_copy_font">Ironically, cleaning clothes can be a very dirty business. Where traditional laundry &amp; dry cleaning services produce more waste than the dirt they take out of the clothes. At My Fresh Shirt we make it our priority to clean your clothes and the world around us. At every step in our business model, we have applied the principle that we must take responsibility, expect accountability, and provide feasible resolutions that will positively impact the world we live in today.
        <br>
        <br>
        The two primary means by which My Fresh Shirt’s laundry &amp; dry cleaning services contribute to global emissions are through electrical usage and our fleet of vehicles. In order to mitigate our impact on the environment, My Fresh Shirt is dedicated to purchasing 100% of its electricity from renewable sources, reducing our fleet emissions by offering Green Leaf deliveries, offsetting the carbon emissions that remain via terrapass, and continuing to invest in and research the most feasibly effective technology and operating procedures. We do not take a neutral stance on the environment.
        <br>
        <br>
        Our formula that directly addresses global climate change is simple, My Fresh Shirt + Our Customers + Solution to Global Climate Change = My Fresh Air. My Fresh Air is a progressive program that partners us with our customers and allows you as the customer to offset your carbon footprint through the purchase of renewable energy credits. Combined with our conservation efforts, carbon offsets are a practical way to mitigate our impact on the environment. <a href="/my_fresh_air">Read More.</a>
        <br>
        <br>
        The number one rule to preservation is conservation. We have surpassed convenience and technological milestones in our efforts to conserve water. What do we do with all the water we save? Our program, My Fresh Water, helps to develop wells and other solutions to provide much needed clean water sources for people in developing nations.
        <br>
        <br>
        Here at home we have taken the initiative to give back to the community in which we serve. We provide recycling services for hangers and poly plastic bags for all of our customers, even if they came from other cleaners. We work with the New York Rescue Mission to collect your unused garments and help to allocate them to those who need it most. We are constantly improving and adding programs to our roster of efforts. So please check back often to see how you can help. 
        <br>
        <br>
    </span>
    <span class="subtitleGreen">LEARN MORE ABOUT</span>
    <span class="main_copy_font">
        <br>
        <a href="/my_ecologic">Eco-Logic </a>
        <br>
        <a href="/my_fresh_air">My Fresh Air </a>
        <br>
    </span>
    <br>
    <br>
    <br>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
