<%= render :partial => 'sidebar' %>

<td valign="top" width="725" style="padding-right: 15px;">
        <a name="0" id="0"></a>
    <br>
    <img src="/images/my-fresh-air.gif" height="34" width="360">
    <br><br>
    <table border="0" cellpadding="0" cellspacing="0" width="650">
        <tbody>
            <tr>
                <td class="greenBlack9">
                    <a href="#1">HOW IT WORKS</a>
                    | <a href="#2">OUR PRINCIPLES</a>
                    | <a href="#3">HOW YOU CAN CONTRIBUTE</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <span class="main_copy_font">Fresh clothes, Fresh air! We appreciate our customers concerns about climate change. Our values are aligned with like-minded consumers who take the first step to fight global warming by reducing their own carbon footprint through conservation. In addition to our own efforts to ensure carbon neutrality, we believe that a partnership with you will help us reach our goal of becoming carbon negative. Our progressive program, MY FRESH AIR, is uniquely tailored to offset the carbon and other greenhouse gas emissions from the actual usage of our services.</span>  
	<br/><br/>
	
	<a name="1" id="1"></a><span class="subtitleGreen">HOW IT WORKS</span> 
	<br/>
	<span class="main_copy_font">MY FRESH AIR allows our customers to be stewards for climate change. The program provides you with the opportunity to donate to our MY FRESH AIR fund to purchase certified carbon offsets. The CO2 emissions are calculated using actual fuel consumption and electricity usage by our fleet and laundry services equipment. By way of complex algorithms and tracking methods, we calculate the average distance of transport and energy usage per item dry cleaned and per pound laundered. These algorithms are evaluated quarterly and readjusted to reflect real world usage and prices of current municipal energy sources.</span>  
	<br/><br/>
	<span class="main_copy_font">Customer contributions to MY FRESH AIR fund the purchase of offsets through our partner, terrapass. Terrapass funds three different project types: clean wind energy, farm power from animal waste, and landfill gas recapture. We chose to work with TerraPass because of their commitment to true transparency and investment in projects that will result in reductions in the same calendar year guaranteeing that our investments are making a difference now. Visit <a href="http://www.terrapass.com" target="_blank">www.terrapass.com</a> to learn more. <a href="#0">back to top </a></span>  
	<br/><br/>
	<a name="2" id="2"><span class="subtitleGreen">OUR PRINCIPLES</span> 
	<br/>
	<span class="main_copy_font">100% of the carbon offsets we purchase are through verifiable greenhouse gas emission programs according to the international Kyoto protocol and where indicated supported by certifications by the CDM Gold Standard, Green-e certified, Voluntary Carbon Standard 2007, Chicago Climate Exchange Offset Protocols, California Climate Action Registry, EPA Climate Leaders, ISO 14064-2, or they must adhere to the standards set forth by the Climate Community &amp; Biodiversity Alliance.  <a href="#0">back to top </a></span>  
	<br/><br/>
	<a name="3" id="3"><span class="subtitleGreen">HOW YOU CAN CONTRIBUTE</span> 
	<br/>
	<span class="main_copy_font">To start contributing, simply go to the Eco-Logic tab on your dashboard page. There you can see what the current balance of carbon emissions for your usage is. Then you can determine whether or not you would like to donate. We appreciate everyone’s effort in helping us curb global climate change.
	<br/><br/>
	 Would you like to contribute more? Not currently a member of My Fresh Shirt? Purchase a MY FRESH AIR certificate and you can begin offsetting CO2 emissions right away! You can find MY FRESH AIR certificates at our store or at the end of your order by adding a “special item” to your service.  
	Imagine, the next time you change your clothes, you can be changing the world. 
	 <a href="#0">back to top </a></span>  
	 </span>
	<br/><br/>
	 <span class="subtitleGreen">LEARN MORE ABOUT</span>
	    <span class="main_copy_font">
	        <br/><br/>
	        <a href="/my_ecologic">ECO-LOGIC:</a> My Fresh Shirt takes ownership of its community, the environment, and those that need our help. 
	        <br>
	    </span>
	<br/>
<a href="http://www.terrapass.com" target="_blank"><img src="/images/terrapass.gif" height="134" width="143"></a>
	<br/>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
