<%= render :partial => 'sidebar' %>
<td valign="top" >
    <table border="0" cellpadding="0" cellspacing="0" width="750">
        <tbody>
            <tr>
                <td rowspan="2" valign="top" width="25">
                    &nbsp;
                </td>
                <td valign="top">
                    <br>
                    <img src="/images/INORDER.gif" alt="1" height="73" width="423">
                </td>
            </tr>
            <tr>
                <td class="main_copy_font" width="725" style="padding-right: 15px;">
                    Order
                    us around, we don't mind. At My Fresh Shirt we are proud of our
                    dedication to service. Get your laundry done the way you want. Then sit 
                    back, grab some drinks, have dinner with some friends, and we will 
                    handle the rest. <a href="/how_it_works">Learn More</a>
                    about how it works.
                    <br>
                    <br>
                    <img src="/images/paint_the_town.gif" alt="2" height="33" width="558">
                    <br>
                    <br>
                    Excited to join the My Fresh Family. As soon as we hit your block we can let you know. <a href="<%= reg_url %>">SIGN UP NOW!</a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
