<%= render :partial => 'sidebar' %>
<td class="main_copy_font" width="725" style="padding-right: 15px;">
    <br>
    <img src="/images/SAVESOMEGREEN.gif" alt="" height="62" width="702">
    <br>
    <br>
    My Fresh Shirt is changing the game. We offer the most convenient dry
    cleaning and laundry service that works around your life. The best part
    about it, we do it while keeping our prices competitive with your local 
    cleaners. <a href="javascript:load_window('/prices', 'Prices')">See our Prices Here.</a>
    <br>
    <br>
    <img src="/images/paint_the_town.gif" height="33" width="558">
    <br>
    <br>
    Excited to join the My Fresh Family. As soon as we hit your block we can let you know. <a href="<%= reg_url %>">SIGN UP NOW!</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
