<%= render :partial => 'sidebar' %>
<td class="main_copy_font" valign="top" width="725" style="padding-right: 15px;">
    <br>
    <img src="/images/COUPLEEXTRAHOURS.gif" alt="" height="61" width="627">
    <br>
    <br>
    By this time next year, you will have spent another week of your life 
    doing laundry. What a waste right? When you do your dry cleaning &amp; 
    laundry with My Fresh Shirt, you don't just get fresh, crisp clothes.  
    You get your life back. <a href="/pickup">Learn More</a>
    about our pick up &amp; delivery service.
    <br>
    <br>
    <img src="/images/paint_the_town.gif" height="33" width="558">
    <br>
    <br>
    Excited to join the My Fresh Family. As soon as we hit your block we can let you know. <a href="<%= reg_url %>">SIGN UP NOW!</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
