<%= render :partial => 'sidebar' %>
<td valign="top" style="padding-right: 15px;">
    <a name="0" id="0"></a>
    <img src="/images/MYgreatday.jpg" height="139" width="179">
    <br>
    <span class="subtitle">
        <br>
        RECLAIM WHAT IS YOURS. STOP DOING, START LIVING! 
        <br>
        <br>
        <img src="/images/MYORDERPROCESS.gif" height="36" width="340">
        <br>
    </span>
    <span class="greenBlack9"><a href="#0">WE GET YOUR LAUNDRY IN ORDER</a> | <a href="#1">MY PREFERENCES</a> | <a href="#2">MY DIRTY LAUNDRY</a>
        <br>
        <a href="#3">PREMIUM SERVICE</a> | <a href="#4">MY ITEMIZATION</a> | <a href="#5">SPECIAL HANDLING </a>
    </span>
    <br>
    <br>
    <br>
    <span class="subtitleGreen">WE GET YOUR LAUNDRY IN ORDER </span>
    <br>
    <br>
    <span class="main_copy_font">Once
        you have signed up with My Fresh Shirt, ordering your laundry and dry
        cleaning service is only a few clicks away. The first time you order,
        we come to your door with our reusable laundry bag and dry cleaning
        bag. Each bag has a unique barcode on it so that we can identify your
        clothes. One neat feature of our reusable laundry bag is that it
        converts to a garment bag, because less bags means less impact on our 
        environment. </span>
    <br>
    <br>
    <a name="1" id="1"></a>
    <span class="subtitleGreen">MY PREFERENCES </span>
    <br>
    <span class="main_copy_font">
        <br>
        
	We prefer that you get your laundry and dry cleaning done the way that you want. Under MY PREFERENCES, you can tell us how much starch you want used on your clothes, you can participate in our eco-logic tagging process and programs, set your notifications, and more. However, you can leave it as-is, and these fields will be automatically populated with the most popular choices selected by our customers. <a href="#0">back to top </a>
    </span>
    <br>
    <br>
    <a name="2" id="2"></a>
    <span class="subtitleGreen">MY DIRTY LAUNDRY </span>
    <br>
    <br>
    <span class="main_copy_font">
By using our handy buttons, you let us know which services you need with each order. The buttons change color from green to blue to indicate that a service is needed. However, once you have one of our Fresh Laundry and Dry Cleaning bags, you can just place your items in the appropriate bag and schedule a pick up. One of our experienced professionals will go through each bag, read each care label, and make sure your items are taken care of the way they should be.  <a href="#0">back to top </a></span>
    <br>
    <br>
    <a name="3" id="3"></a>
    <span class="subtitleGreen">PREMIUM SERVICE</span>
    <br>
    <br>
    <span class="main_copy_font">In addition to our FRESH service, My Fresh Shirt offers a premium service to meet the challenges of working with items that are more delicate, require special attention, or are of greater value (whether it be monetary or sentimental). Our premium service goes through a seven stage process by skilled craftsman that will achieve the best possible results while making sure that we protect and help prolong the life of your special garments. Each item is carefully inspected by hand and every attention to detail is carried out. In addition, because premium items tend to be more expensive items, we have added additional coverage to insure that we remain accountable. <a href="#0">back to top </a></span>
    <br>
    <br>
    <a name="4" id="4"></a>
    <span class="subtitleGreen">MY ITEMIZATION</span>
    <br>
    <br>
    <span class="main_copy_font">After we receive your clothes, an experienced My Fresh Shirt team member tags all of your items and creates an itemized list that is sent to your e-mail account for your review. However, you also have the option to itemize your laundry at the order screen. Should you have a stain or area that needs attention, delicate fabrics, or requests like no creases, our handy itemization screen allows you to communicate that to us. <a href="#0">back to top </a></span>
    <br>
    <br>
    <a name="5" id="5"></a>
    <span class="subtitleGreen">SPECIAL HANDLING</span>
    <br>
    <br>
    <span class="main_copy_font">When an item needs special attention, you can click the special handling button on the order page to bring up a prompt. Here you can enter specific information about your item and describe what matters to you most.<br/><br/>

*Where available, these services are subject to different pricing. 
 </span>
    <a href="#0">back to top </a>
    <br>
    <br>
    <span class="subtitleGreen">LEARN MORE ABOUT </span>
    <br>
    <span class="main_copy_font"><a href="/pickup">Pick Up &amp; Delivery </a>
        <br>
        <a href="/our_cleaning">Cleaning Services </a>
        <br>
        <a href="/my_environment">My Fresh Environment 
            <br>
            <br>
            <br>
        </a>
    </span>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
