<%= render :partial => 'sidebar' %>
<td valign="top" width="725" style="padding-right: 15px;">
    <span class="subtitleGreen"><a name="0" id="0"></a></span>
    <img src="/images/MYfreshclothes.jpg" height="150" width="131">
    <br>
    <br>
    <span class="subtitle">CLOTHES DON'T MAKE YOU, BUT THEY SURE CAN BREAK YOUR DAY</span>
    <br>
    <br>
    <img src="/images/MYCLEANINGSERVICES.gif" height="33" width="441">
    <br>
    <br>
    <span class="greenBlack9"><a href="#1">DRY CLEANING</a> | <a href="#2">LAUNDERED SHIRTS</a> | <a href="#3">WASH &amp; FOLD</a> | <a href="#4">SHOES</a> | <a href="#5">ALTERATIONS</a> | <a href="#6">SPECIAL ITEMS </a></span>
    <br>
    <br>
    <span class="subtitleGreen">
        <br>
        OUR CLEANING SERVICES 
    </span>
    <br>
    <br>
    <span class="main_copy_font">At My Fresh Shirt we pride ourselves on providing the convenience of hand valet services with the most progressive techniques in fabric care. Our personal attention to detail guarantees that your clothes will achieve the best possible results through our dry cleaning and laundering services.</span>
    <br>
    <br>
    <span class="subtitleGreen"><a name="1" id="1"></a>DRY CLEANING </span>
    <br>
    <br>
    <span class="main_copy_font">Your clothes will enjoy our <a href="javascript:load_window('/five_points', 'Five_Points_Process')">Five Points Process</a>. It guarantees that all of your items will get the attention they deserve. Our highly skilled craftsmen read each care label to ensure that your clothes are handled as the manufacturer intended. Consider it a spa treatment for clothes.  Did we mention that we are 100% PERC free?</span><br/>
    <a href="#0">back to top</a>
    <br>
    <br>
    <span class="subtitleGreen"><a name="2" id="2"></a>LAUNDERED SHIRTS </span>
    <br>
    <span class="main_copy_font">
        <br>
        We know that putting on a crisp, fresh shirt is the start to a great day. Our service guarantees a fresh, clean shirt with a crisp collar and cuffs every time. Using the same <a href="javascript:load_window('/five_points', 'Five_Points_Process')">Five Points Process</a> as in our dry cleaning service ensures that your shirts will last longer, come out brighter, and help portray the professional image you deserve. Each shirt is hand finished and hung or folded and boxed. 
    </span>
    <br>
    <a href="#0">back to top</a>
    <br>
    <br>
    <span class="subtitleGreen"><a name="3" id="3"></a>WASH &amp; FOLD </span>
    <br>
    <br>
    <span class="main_copy_font">All of your other laundry needs can be done with our wash &amp; fold service. Our seasoned professionals sort your whites, colors, and darks and then clean your laundry in our technologically advanced machines that save in energy usage and waste less water. Your clothes come back to you neatly folded and ready to transfer to your drawer every time. Learn more about the programs we have in place to help offset each pound of CO2 your laundry produces and how we help provide water to those who really need it. </span>
    <a href="#0">
        <br>
        back to top
    </a>
    <br>
    <br>
    <span class="subtitleGreen"><a name="4" id="4"></a>SHOES* </span>
    <br>
    <br>
    <span class="main_copy_font">Your shoes are the foundation to your wardrobe. My Fresh Shirt offers premium shoe services whether you need a basic shine, a thorough cleaning, or your heels replaced. Our master cobblers will share the same pride and dedication with your shoes that we do with your laundry.</span>
    <a href="#0">back to top</a>
    <br>
    <br>
    <span class="subtitleGreen"><a name="5" id="5"></a>ALTERATIONS* </span>
    <br>
    <br>
    <span class="main_copy_font">You can expect My Fresh Shirt's Expert Tailors to handle all of your alteration needs with the same level of quality and convenience. Our experts will hem, replace zippers, take in waists, or even patch up that hole in your favorite item. You can either order it specifically through our order page, or leave a note in your bag to let us know what needs to be done.</span>
    <a href="#0">back to top</a>
    <br>
    <br>
    <span class="subtitleGreen"><a name="6" id="6"></a>SPECIAL ITEMS* </span>
    <br>
    <br>
    <span class="main_copy_font">My Fresh Shirt also handles all of your special laundry needs. At your request we apply the same principles to your drapes, bed linens, and table linens. These items are large and sometimes have ornate or intricate details that need special handling from one of our specialty departments.
	<br/><br/>*Pricing &amp; turnaround may differ and these services are subject to availability.</span>
    <a href="#0">back to top</a>
    <br>
    <br>
    <span class="subtitleGreen">LEARN MORE ABOUT </span>
    <br>
    <a href="/ordering_process">Ordering Process </a>
    <a href="/pickup">
        <br>
        Pick Up &amp; Delivery 
    </a>
    <br>
    <a href="/my_environment">My Fresh Environment </a>
    <br>
    <br>
    <br>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>
