<%= render :partial => 'sidebar' %>
<td valign="top" width="725" style="padding-right: 20px; padding-left: 15px;">
    <!--<img id="0" src="/images/MY2hoursback.jpg" alt="1" height="245" width="189">
    <br>-->
    <br>
    <img src="/images/MYPICKUPANDDELIVERY.gif" alt="2" height="31" width="398">
    <br>
    <br>
    
    <table border="0" cellpadding="0" cellspacing="0" width="725">
            <tr>
                <td class="greenBlack9">
                    <a href="#1">GETTING STARTED</a>
                    | <a href="#2">FRESH SERVICE</a>
                    | <a href="#3">TURNAROUND TIME</a>
                    | <a href="#4">GREEN LEAF DELIVERY</a>
                    | <a href="#5">DOORMAN SERVICE</a>
                        <br>
                    
                    <a href="#6">RECURRING ORDERS</a>
                    | <a href="#7">THE FRESH EXPRESS</a>
                    | <a href="#8">MY FRESH CLOSET</a>
                </td>
            </tr>
    </table>
    <a name="0" id="0">
    <br>
    <a name="1" id="1"></a><span class="subtitleGreen">GETTING STARTED</span>
    <br>
    <span class="main_copy_font">When you register with us, you will receive a convertible and reusable dry cleaning/garment bag (to be used for laundered shirts and dry cleaning only) as well as a laundry bag with your first scheduled pickup. Our bags are identified with a discreet barcode in the corner that will identify you as a customer. No more waiting in lines, no more waste, and better handling of your clothes.</span>
    <br>
    <br>
    <a name="2" id="2"></a><span class="subtitleGreen">FRESH SERVICE</span>
    <br>
    <span class="main_copy_font">Because nobody expects you to do your laundry at work, we don’t expect you to pick it up during working hours. With My Fresh Shirt you schedule a pick up and delivery within a 2 hour service window of your choice. Since we deliver up until 11:30 p.m., you can count on us to be there when you are. <a href="#0">back to top</a> </span>
    <br>
    <a name="3" id="3"></a>
    <span class="subtitleGreen">
        <br>
        </a>TURNAROUND TIME
    </span>
    <br>
    <span class="main_copy_font">Standard turnaround time is 2 days, and express service, where available, is typically ready within 24 hours from the time of pick up. It is up to you how we can best serve you. In the case that our professional cleaners find that an item needs special attention, we will promptly notify you via text message or e-mail detailing the concern. <a href="#0">back to top </a> </span>
    <br>
    <br>
    <a name="4" id="4"></a>
    <span class="subtitleGreen">GREEN LEAF DELIVERY </span>
    <br>
    <span class="main_copy_font">Our Eco-Logic technology makes it easy for you to schedule your pick-up and delivery during the same time window as your neighbor.  Scheduling your service in these windows helps us minimize our carbon emission levels by eliminating wasteful trips to and from our facility.  When you schedule your pick-up or delivery during these highlighted times, you will receive valuable eco-logic points, which may be redeemed for various promotions or charitable donations. Choose a green leaf service window today and leave the other time slots envy of the green. <a href="#0">back to top </a> </span>
    <br>
    <br>
    <a name="5" id="5"></a>
    <span class="subtitleGreen">DOORMAN SERVICE</span>
    <br>
    <span class="main_copy_font">If you live in a doorman building, doing your dry cleaning and laundry couldn’t be easier.  Simply schedule your pick up and delivery on the dates you desire and then leave your clothes with your doorman.  Or, if your building is registered with My Fresh Shirt, you don’t have to go through the standard ordering process.  Just leave your laundry with your doorman, and we’ll pick it up and deliver it on your building’s scheduled days of service.  We encourage you to contact us with any questions you may have regarding our doorman policies and procedures, at <a href="mailto:customerservice@myfreshshirt.com">customerservice@myfreshshirt.com</a>.
<br/><br/>

If your doorman building is not registered, speak with your building manager and register it today. No special commitment is required!  <a href="#0">back to top </a> </span>
    <br>
    <br>
    <a name="6" id="6"></a>
    <span class="subtitleGreen">RECURRING ORDER</span>
    <br>
    <span class="main_copy_font">Why go online every time you have dirty clothes? Stay so fresh and so clean by setting up a recurring order and we will come every week, every other week, or as needed.  So, pick the time and day that works best for you, and let us do the rest. However, you can schedule an additional service or cancel your recurring order at anytime.  <a href="#0">back to top </a> </span>
    <br><a name="7" id="7"></a>
    <span class="subtitleGreen">
        <br>
        THE FRESH EXPRESS* 
    </span>
    <br>
    <span class="main_copy_font">My Fresh Shirt's service is already fast. But in case you need a special item for a special night, drop off your laundry on THE FRESH EXPRESS. Once you are registered, you can request a pick up before 9 a.m. and we will have it back to you by 6 p.m. <a href="#0">back to top </a> </span>
    <br>
    <br><a name="8" id="8"></a>
    <span class="subtitleGreen">MY FRESH CLOSET*</span>
    <br>
    <span class="main_copy_font">Are you a frequent traveler?  Do you visit NYC often? Then why not leave your clothes with us? When you come back, you will have FRESH clothes ready to be delivered to you, just let us know where you are and when you want them. You can also view your entire wardrobe online in your FRESH CLOSET. <a href="#0">back to top </a>
	<br/><br/>
	*Pricing may differ and these services are subject to availability.
	</span>
    <br>
    <br>
    <span class="subtitleGreen">LEARN MORE ABOUT</span>
    <br>
    <span class="main_copy_font"><a href="/ordering_process">Ordering Process</a>
        <br>
        <a href="/our_cleaning">Cleaning Services</a>
        <br>
        <a href="/my_environment">My Fresh Environment
            <br>
            <br>
            <br>
            <br>
        </a>
    </span>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top">
    &nbsp;
</td>
</tr>