<h1 id="logo"><a href="/">All the Parties: The Best Source of Parties Online</a></h1>
<div id="primaryContent">
  <%= searchbox %>
  <div id="place-list">
    <h1 id="places">Places</h1>
    <%= region_list -%>
  </div>
</div><!-- primaryContent -->

<div id="topbar">
  <!-- Google Search Result Snippet Begins -->
  <div id="results_003979525011358546875:zf4nzoimyyq"></div>
  <script type="text/javascript">
    var googleSearchIframeName = "results_003979525011358546875:zf4nzoimyyq";
    var googleSearchFormName = "searchbox_003979525011358546875:zf4nzoimyyq";
    var googleSearchFrameWidth = 960;
    var googleSearchFrameborder = 0;
    var googleSearchDomain = "www.google.com";
    var googleSearchPath = "/cse";
  </script>
  <script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
  <!-- Google Search Result Snippet Ends -->

  <script defer id="snap_preview_anywhere" type="text/javascript" src="http://spa.snap.com/snap_preview_anywhere.js?ap=1&amp;key=df1323f68630ea110f1aa9deedaf916a&amp;sb=0&amp;domain=<%= SITE.url %>"></script>
</div><!-- topbar -->

<br clear="all">