<h1>Forgot Password</h1>


<p style="color: green"><%= flash[:notice] %></p>

<p>Please enter your email address and we will send you an email to where you can reset your password.</p>

<form action="/users/forgot_password"  method="post">
<label for="user_login">Email</label><br />
<input id="email" name="email" size="60" type="text" /><br />
<br />
  <input id="user_submit" name="commit" type="submit" value="Submit" />
</form>
