<div id="prev-arrow-container">
  <img id="prev-arrow" class="left2-button-image" src="/images/left2-disabled.gif"/>
</div>

<div class='wrapper'>
	<div class="carousel-component" id="html-carousel">
		<div class="carousel-clip-region">
			<ul class="carousel-list"><%= yield %></ul>
		</div>
	</div>
</div>

<div id="next-arrow-container" >
    <img id="next-arrow" class="right2-button-image" src="/images/right2-enabled.gif"/>
</div>