<p><label for="credit_card_number">Number:</label> <%= text_field 'credit_card', 'number', { :maxlength => 20, :size => 24 } -%> </p>
<p><label>Expires:</label>  <%= select_month(Date.today) %> <%= select_year(Date.today, :start_year => Time.now.year, :end_year => Time.now.year + 7 ) %></p>
<p><label for="credit_card_ccv2">CVV2:</label> <%= text_field 'credit_card', 'cvv2', { :maxlength => 4, :size => 5 } -%></p>