<div id="prev-arrow-container">
  <img id="prev-arrow" class="prev" src="/images/prev-off.gif"/>
</div>

<div class='wrapper'>
	<div class="carousel-component" id="html-carousel">
		<div class="carousel-clip-region">
			<ul class="carousel-list"><%= images %></ul>
		</div>
	</div>
</div>

<div id="next-arrow-container" >
    <img id="next-arrow" class="next" src="/images/next-on.gif"/>
</div>
<br style="clear:both"/>